# 1. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 calculation 함수를 작성하라.



```
calculation(3, 4)
```



```
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [1]:
def calculation(a, b):
    sum = a + b
    sub = a - b
    multi = a * b
    div = a / b
    return sum, sub, multi, div

In [2]:
calculation(3, 4)

(7, -1, 12, 0.75)

# 2. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.



```
print_reverse("Hello, World!")
```

```
!dlroW ,olleH
```

In [3]:
s = "Hello, World!"
s

'Hello, World!'

In [5]:
s[::-1]

'!dlroW ,olleH'

In [7]:
def print_reverse(s):
    reversed_str = s[::-1]
    return reversed_str

In [8]:
print_reverse(s)

'!dlroW ,olleH'

# 3. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.



```
print_even ([1, 3, 2, 10, 12, 11, 15])
```



```
2
10
12
```

In [9]:
L = [1, 3, 2, 10, 12, 11, 15]
L

[1, 3, 2, 10, 12, 11, 15]

In [15]:
for i in L:
    if i % 2 == 0:
        print(i)

2
10
12

In [17]:
def print_even(L):
    for i in L:
        if i % 2 == 0:
            print(i)

In [18]:
print_even(L)

2
10
12

In [19]:
print_even([1, 3, 2, 10, 12, 11, 15])

2
10
12

# 4. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.



```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```



```
이름
나이
성별
```

In [27]:
L = {"이름":"김말똥", "나이":30, "성별":0}
L

{'이름': '김말똥', '나이': 30, '성별': 0}

In [22]:
for i in L :
    print(i)

이름
나이
성별

In [28]:
def print_keys(L):
    for i in L :
        print(i)

In [26]:
def print_keys(L):
    for i in L.keys():
        print(i)

In [29]:
print_keys(L)

이름
나이
성별

In [25]:
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

# 5. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.



```
make_url("naver")
```



```
www.naver.com
```

In [30]:
url = "naver"
url

'naver'

In [31]:
print("www." + url + ".com")

www.naver.com

In [32]:
def make_url(url):
    print("www." + url + ".com")

In [33]:
make_url(url)

www.naver.com

# 6. 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.



```
pickup_even([3, 4, 5, 6, 7, 8])
```



```
[4, 6, 8]
```

In [34]:
L = [3, 4, 5, 6, 7, 8]
L

[3, 4, 5, 6, 7, 8]

In [35]:
for i in L : 
    if i % 2 == 0 :
        print(i)

4
6
8

In [36]:
def pickup_even(L):
    for i in L : 
        if i % 2 == 0 :
            print(i)

In [37]:
pickup_even(L)

4
6
8

In [39]:
pickup_even([1,2,3,4,5,6,7,8])

2
4
6
8

# 7. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.



```
convert_int("1,234,567")
```



```
1234567
```

In [41]:
s = "1,234,567"
s

'1,234,567'

In [44]:
# 문자열에서 콤마 제거하고 정수로 변환하기

result = int(s.replace(',', ''))
print(result)

# , 를 제거하기

1234567

In [45]:
def convert_int(s):
    result = int(s.replace(',', ''))
    print(result)

In [46]:
convert_int(s)

1234567