# < 서식지정자, format 메서드 >
* 사용 이유 : 문자열로만 입력해야 하는 상황에서 같은 위치의 문자를 여러번 바꿔야 할 때가 있기 때문이다. 
* 문자의 자릿수 맞춤, 위치 정렬 등에도 사용한다.

## 1) 서식지정자 : %d,  %s,  %f,  %길이s

### 1. 문자를 입력할 때 : %s

In [1]:
print('이 수업의 이름은 %s 입니다.' %  '<핀테크 서비스 기획자>')

이 수업의 이름은 <핀테크 서비스 기획자> 입니다.

In [2]:
subject = ['국어', '영어', '수학', '과학', '파이썬', 'database']

In [4]:
for sub_name in subject:
    print('이 수업의 이름은 %s 입니다.' % sub_name)

이 수업의 이름은 국어 입니다.
이 수업의 이름은 영어 입니다.
이 수업의 이름은 수학 입니다.
이 수업의 이름은 과학 입니다.
이 수업의 이름은 파이썬 입니다.
이 수업의 이름은 database 입니다.

### 2. 정수를 입력할 때 : %d

In [5]:
print('올해는 %d년 입니다.' % 2024)

올해는 2024년 입니다.

In [7]:
print('올해는 %d년 입니다.' % 20.74)

# 정수만 출력됨. 실수는 출력 안됨!

올해는 20년 입니다.

In [9]:
year = [2019, 2020, 2021, 2022, 2023, 2024]

for this_year in year:
    print('올해는 %d년 입니다.' % this_year)

올해는 2019년 입니다.
올해는 2020년 입니다.
올해는 2021년 입니다.
올해는 2022년 입니다.
올해는 2023년 입니다.
올해는 2024년 입니다.

### 3. 실수를 입력할 때 : %f
* 기본 : 소수점 6자리로 표시
* 소수점 자리수 조정하기 : %.자리수f    <br>
%.1f  - 소수점 1자리 수까지만 표시하겠다.  <br>
%.2f - 소수점 2자리 수까지만 표시하겠다.

In [10]:
print('사람의 정상 체온은 약 %f 도 입니다' % 36.5)

사람의 정상 체온은 약 36.500000 도 입니다

In [11]:
print('사람의 정상 체온은 약 %.1f 도 입니다' % 36.5)

사람의 정상 체온은 약 36.5 도 입니다

### 4. 서식 지정자로 문자열 길이 정렬 : %길이s

In [12]:
print('%10s' % '10자리')

      10자리

In [18]:
'%10s' % '10자리'


#  문자를 찍는데 총 10자리를 만들어라.¶
#  공백 6글자 + '10자리(4글자)' = 총 10글자

'      10자리'

### 5. 숫자 자리수 정렬하기 : %자리수d

In [14]:
print('%10d' % 1500000)
print('%10d' % 15000)

   1500000
     15000

In [16]:
'%10d' % 1500000

'   1500000'

In [17]:
'%10d' % 15000

'     15000'

In [22]:
print('가격은 %5d 입니다.' % 1500000)
print('가격은 %10d 입니다.' % 1500000)
print('가격은 %15d 입니다.' % 1500000)

가격은 1500000 입니다.
가격은    1500000 입니다.
가격은         1500000 입니다.

### 6. 여러 항목 동시에 넣기

In [26]:
print('오늘은 %4d년 %2d월 %2d일 입니다.'  % (2024, 7, 16))

오늘은 2024년  7월 16일 입니다.

In [27]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000,  195000, 31900, 86600]

In [33]:
#  zip 이라는 함수로 변수에 각각 담아 출력해야 함.  

for c , s in zip(company, stock):
        print("%s의 주가는 %d원 입니다. " % (c, s))

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 121000원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

In [37]:
#  enumerate 라는 함수 사용하여 인덱스로 출력함. 

for c in enumerate(zip(company, stock)):
    print(c[1][0], c[1][1])

삼성전자 71800
LG전자 121000
현대차 195000
대한항공 31900
하나투어 86600

# =============================================

## 2) format  메서드 사용하기, f-string 문자열 포맷팅

### 1. format 메서드 사용하기 
'{인덱스}'.format(값)    <br>

In [39]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000,  195000, 31900, 86600]

In [38]:
print('{0}의 주가는 {1}원 입니다.'.format('삼성전자', 71800))

삼성전자의 주가는 71800원 입니다.

In [40]:
print('{0}의 주가는 {1}원 입니다.'.format('삼성전자', 71.850))

삼성전자의 주가는 71.85원 입니다.

In [43]:
print('{1}의 주가는 {0}원 입니다.'.format('삼성전자', 71.850))

# 0은 삼성전자, 1은 71.850

71.85의 주가는 삼성전자원 입니다.

In [47]:
print('{0}의 주가는 {1}원 입니다.  {0}의 상한가는 {3}, {0}의 하한가는 {2}입니다'. format('삼성전자', 71500, 50200, 93000))

# 0 : 삼성전자
# 1 : 71500
# 2 : 50200
# 3 : 93000

삼성전자의 주가는 71500원 입니다.  삼성전자의 상한가는 93000, 삼성전자의 하한가는 50200입니다

### 2. format 메서드애 변수로 값 넣기

In [49]:
drama = '오징어게임'
ranking = 1

In [51]:
print('넷플릭스 {0}위 드라마는 {1} 입니다'.format(ranking, drama))

넷플릭스 1위 드라마는 오징어게임 입니다

In [52]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000,  195000, 31900, 86600]

In [59]:
for c , s in zip(company, stock):
    print('{0}의 주가는 {1}원 입니다.'.format(c, s))

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 121000원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

### 3. f-string 으로 값 넣기 - python 3.6부터 사용 가능

In [58]:
for c , s in zip(company, stock):
    print(f'{c}의 주가는 {s}원 입니다.')

삼성전자의 주가는 71800원 입니다.
LG전자의 주가는 121000원 입니다.
현대차의 주가는 195000원 입니다.
대한항공의 주가는 31900원 입니다.
하나투어의 주가는 86600원 입니다.

### 4. format 메서드와 f-string으로 문자열 정렬하기, 자리수 지정해 출력하기

'{인덱스: < 길이}'.format(값)   <br>
f '{값:< 길이}'

#### <  :  방향을 나타냄, 정렬

In [60]:
print('{0:<10}'.format('삼성전자'))

삼성전자

In [62]:
'{0:<10}'.format('삼성전자')


# 10공간을 10칸 확보하고 왼쪽 정렬

'삼성전자      '

In [63]:
print('{0:>10}'.format('삼성전자'))

      삼성전자

In [64]:
'{0:>10}'.format('삼성전자')


# 10공간을 10칸 확보하고 오른쪽 정렬

'      삼성전자'

In [70]:
print(f"{'삼성전자':< 10 }")

ValueError: Unknown format code '\x20' for object of type 'str'

숫자 자리수 맞추고 기본 값 지정하기 <br>
'{인덱스: 채울 숫자 길이 서식지정자}'.format(값)  <br>단, 서식지정자에서 %는 빼고 적는다  <br><br>
f'{값: 채울 숫자길이 서식지정자}'

1자리 숫자 앞에 0 추가하기

* 정수의 경우

In [69]:
print('{0:02d}'.format(1))

01

In [75]:
print(f'{1:02d} 월')
print(f'{12:02d} 월')
print(f'{12:04d} 월')

01 월
12 월
0012 월

* 실수 float의 경우 <br>
실수의 정수 자리수와 소수점 자리수 지정하기

In [116]:
print('{0:03f}'.format(20))

20.000000

In [77]:
print('{0:02f}'.format(20.234562653))

20.234563

### 예제 <br>
1월1일부터 12월 31일까지 출력하는데 1자리 월, 일에는 01, 02 식으로 0을 붙여서 출력하세요. <br><br>

x : 1 ~ 12 월   <br>
y : 1 ~ 31 일

In [80]:
for x in range(1,13):
    for y in range(1,31):
        print(f'{x:02d} 월', f'{y:02d} 일')

01 월 01 일
01 월 02 일
01 월 03 일
01 월 04 일
01 월 05 일
01 월 06 일
01 월 07 일
01 월 08 일
01 월 09 일
01 월 10 일
01 월 11 일
01 월 12 일
01 월 13 일
01 월 14 일
01 월 15 일
01 월 16 일
01 월 17 일
01 월 18 일
01 월 19 일
01 월 20 일
01 월 21 일
01 월 22 일
01 월 23 일
01 월 24 일
01 월 25 일
01 월 26 일
01 월 27 일
01 월 28 일
01 월 29 일
01 월 30 일
02 월 01 일
02 월 02 일
02 월 03 일
02 월 04 일
02 월 05 일
02 월 06 일
02 월 07 일
02 월 08 일
02 월 09 일
02 월 10 일
02 월 11 일
02 월 12 일
02 월 13 일
02 월 14 일
02 월 15 일
02 월 16 일
02 월 17 일
02 월 18 일
02 월 19 일
02 월 20 일
02 월 21 일
02 월 22 일
02 월 23 일
02 월 24 일
02 월 25 일
02 월 26 일
02 월 27 일
02 월 28 일
02 월 29 일
02 월 30 일
03 월 01 일
03 월 02 일
03 월 03 일
03 월 04 일
03 월 05 일
03 월 06 일
03 월 07 일
03 월 08 일
03 월 09 일
03 월 10 일
03 월 11 일
03 월 12 일
03 월 13 일
03 월 14 일
03 월 15 일
03 월 16 일
03 월 17 일
03 월 18 일
03 월 19 일
03 월 20 일
03 월 21 일
03 월 22 일
03 월 23 일
03 월 24 일
03 월 25 일
03 월 26 일
03 월 27 일
03 월 28 일
03 월 29 일
03 월 30 일
04 월 01 일
04 월 02 일
04 월 03 일
04 월 04 일
04 월 05 일
04 월 06 일
04 월 07 일
04 월 08 일
04 월 09 일
04 월 10 일
04 월 11 일
04 월 12 일
04 월 13 일
04 월 14 일
04 월 15 일
04 월 16 일
04 월 17 일
04 월 18 일
04 월 19 일
04 월 20 일
04 월 21 일
04 월 22 일
04 월 23 일
04 월 24 일
04 월 25 일
04 월 26 일
04 월 27 일
04 월 28 일
04 월 29 일
04 월 30 일
05 월 01 일
05 월 02 일
05 월 03 일
05 월 04 일
05 월 05 일
05 월 06 일
05 월 07 일
05 월 08 일
05 월 09 일
05 월 10 일
05 월 11 일
05 월 12 일
05 월 13 일
05 월 14 일
05 월 15 일
05 월 16 일
05 월 17 일
05 월 18 일
05 월 19 일
05 월 20 일
05 월 21 일
05 월 22 일
05 월 23 일
05 월 24 일
05 월 25 일
05 월 26 일
05 월 27 일
05 월 28 일
05 월 29 일
05 월 30 일
06 월 01 일
06 월 02 일
06 월 03 일
06 월 04 일
06 월 05 일
06 월 06 일
06 월 07 일
06 월 08 일
06 월 09 일
06 월 10 일
06 월 11 일
06 월 12 일
06 월 13 일
06 월 14 일
06 월 15 일
06 월 16 일
06 월 17 일
06 월 18 일
06 월 19 일
06 월 20 일
06 월 21 일
06 월 22 일
06 월 23 일
06 월 24 일
06 월 25 일
06 월 26 일
06 월 27 일
06 월 28 일
06 월 29 일
06 월 30 일
07 월 01 일
07 월 02 일
07 월 03 일
07 월 04 일
07 월 05 일
07 월 06 일
07 월 07 일
07 월 08 일
07 월 09 일
07 월 10 일
07 월 11 일
07 월 12 일
07 월 13 일
07 월 14 일
07 월 15 일
07 월 16 일
07 월 17 일
07 월 18 일
07 월 19 일
07 월 20 일
07 월 21 일
07 월 22 일
07 월 23 일
07 월 24 일
07 월 25 일
07 월 26 일
07 월 27 일
07 월 28 일
07 월 29 일
07 월 30 일
08 월 01 일
08 월 02 일
08 월 03 일
08 월 04 일
08 월 05 일
08 월 06 일
08 월 07 일
08 월 08 일
08 월 09 일
08 월 10 일
08 월 11 일
08 월 12 일
08 월 13 일
08 월 14 일
08 월 15 일
08 월 16 일
08 월 17 일
08 월 18 일
08 월 19 일
08 월 20 일
08 월 21 일
08 월 22 일
08 월 23 일
08 월 24 일
08 월 25 일
08 월 26 일
08 월 27 일
08 월 28 일
08 월 29 일
08 월 30 일
09 월 01 일
09 월 02 일
09 월 03 일
09 월 04 일
09 월 05 일
09 월 06 일
09 월 07 일
09 월 08 일
09 월 09 일
09 월 10 일
09 월 11 일
09 월 12 일
09 월 13 일
09 월 14 일
09 월 15 일
09 월 16 일
09 월 17 일
09 월 18 일
09 월 19 일
09 월 20 일
09 월 21 일
09 월 22 일
09 월 23 일
09 월 24 일
09 월 25 일
09 월 26 일
09 월 27 일
09 월 28 일
09 월 29 일
09 월 30 일
10 월 01 일
10 월 02 일
10 월 03 일
10 월 04 일
10 월 05 일
10 월 06 일
10 월 07 일
10 월 08 일
10 월 09 일
10 월 10 일
10 월 11 일
10 월 12 일
10 월 13 일
10 월 14 일
10 월 15 일
10 월 16 일
10 월 17 일
10 월 18 일
10 월 19 일
10 월 20 일
10 월 21 일
10 월 22 일
10 월 23 일
10 월 24 일
10 월 25 일
10 월 26 일
10 월 27 일
10 월 28 일
10 월 29 일
10 월 30 일
11 월 01 일
11 월 02 일
11 월 03 일
11 월 04 일
11 월 05 일
11 월 06 일
11 월 07 일
11 월 08 일
11 월 09 일
11 월 10 일
11 월 11 일
11 월 12 일
11 월 13 일
11 월 14 일
11 월 15 일
11 월 16 일
11 월 17 일
11 월 18 일
11 월 19 일
11 월 20 일
11 월 21 일
11 월 22 일
11 월 23 일
11 월 24 일
11 월 25 일
11 월 26 일
11 월 27 일
11 월 28 일
11 월 29 일
11 월 30 일
12 월 01 일
12 월 02 일
12 월 03 일
12 월 04 일
12 월 05 일
12 월 06 일
12 월 07 일
12 월 08 일
12 월 09 일
12 월 10 일
12 월 11 일
12 월 12 일
12 월 13 일
12 월 14 일
12 월 15 일
12 월 16 일
12 월 17 일
12 월 18 일
12 월 19 일
12 월 20 일
12 월 21 일
12 월 22 일
12 월 23 일
12 월 24 일
12 월 25 일
12 월 26 일
12 월 27 일
12 월 28 일
12 월 29 일
12 월 30 일

공백을 원하는 문자로 채우고 자리수 맞추기 <br>
'{인덱스: 원하는 숫자 > < 자리수}'.format(값)

In [81]:
'{0:0>4}'.format(1)

'0001'

In [82]:
'{0:3>4}'.format(1)

'3331'

In [83]:
'{0:3<4}'.format(1)

'1333'

In [88]:
f'{1:$<4}'

'1$$$'

In [86]:
f'{1:$<8}'

'1$$$$$$$'

### 예제
url 맨 뒷 두자리 수 1 ~ 10 으로 10개 출력하기

In [89]:
url = "https://finance.naver.com/sise/sise_trans_style.naver?sosok=01"

In [93]:
for i in range(1,11):
    print("https://finance.naver.com/sise/sise_trans_style.naver?sosok={0:02d}".format(i))

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09
https://finance.naver.com/sise/sise_trans_style.naver?sosok=10

### 예제
파일 이름을 한번에 바꾸기 <br>
숫자로 되어 있는 1자리 혹은 2자리수 파일 이름을 앞을 0을 채우는 3자리수 숫자로 이름을 변경 <br>

< 실행결과 >
<br>
001.jpg <br>
010.jpg <br>
011.jpg <br>
002.jpg <br>
003.jpg <br>

In [95]:
img_list = ['1.jpg', '10.jpg', '11.jpg', '2.jpg', '3.png']
img_list

['1.jpg', '10.jpg', '11.jpg', '2.jpg', '3.png']

<class 'list'>

In [120]:
'{0:0>4}'.format(1)

'0001'

In [124]:
# 방법1 : 내가 사용한 방법

for i in img_list :
    print('{0:0>7}'.format(i))
    
# 문자 포함 7자리인데, 0으로 채워라

001.jpg
010.jpg
011.jpg
002.jpg
003.png

In [128]:
# 방법2

for i in img_list :
    print(f'{i:0>7}')

001.jpg
010.jpg
011.jpg
002.jpg
003.png

방법1과 방법2는 동일한 결과값을 출력한다. <br> <br>
방법1 : '{}'.format(value)   --> .format() 메서드 사용    <br>
방법2 : f'{value}'  --> f-string 사용

In [ ]:
# 리스트 로 만드는 거 교수님 내용 참고하기 !