# < 함수function 만들기 >

* print(), split(), input()   =>  함수
* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해줌
* 도구, 기능 
* function
* 자주 사용하는 기능을 미리 만들어서 ** 반복 재사용 ** 할 수 있게 만드는 것

In [1]:
L = [1,2,3,4,5]
result = []

for i in L:
    result.append(i*10)
    print(i)

1
2
3
4
5

## 1) 함수 만드는 법 
<br>
def 함수이름(): <br>
_____실행코드  <br>
______return 리턴 값 <br>

In [4]:
# 함수 만들기

def hello():
    print("hello 파이썬 함수 만들기")

In [3]:
hello()

hello 파이썬 함수 만들기

## 2) 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어 있어야 하고 (만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [6]:
hello2()

hello 파이썬 함수 만들기!!!

In [5]:
def hello2():
    print("hello 파이썬 함수 만들기!!!")

= 5번 라인에서 함수 먼저 만들고 6라인 호출해도 출력됨!

## 3) 함수의 매개 변수
* 함수의 ( )안에 받는 값
* () 안에 값을 받아서 함수 내에서 처리할 때 사용
* print("hello") ==> hello

In [8]:
# 원의 넓이를 구하는 함수 
# 반지름 * 반지름 * 3.14

def circle(c):
    print("원의 넓이는: ", c * c * 3.14, "입니다.")
    return c * c * 3.14

In [9]:
circle(3)

원의 넓이는:  28.26 입니다.

28.26

### 매개변수 2개짜리 함수 : 덧셈 함수 만들기

In [10]:
def add(a,b) :
    return a + b

In [12]:
add(10,3)

13

### 매개 변수 3개짜리 함수 
### a : 시작, b : 끝, c : 증감 <br>

interval 이라는 이름의 함수를 만드세요. <br>
숫자를 입력받아 시작, 끝, 증감이 반영되게 만드세요. <br>
interval (1, 10, 2) <br>

출력 : <br>
1, 3, 5, 7, 9

In [18]:
def interval(a, b, c):
    print([i for i in range(a, b, c)])

In [21]:
result = interval(1, 10, 2)

print(result)

[1, 3, 5, 7, 9]
None

### 리턴값이 여러개인 함수

In [24]:
def add_sub(a, b):
    add = a + b
    sub = a - b
    return add , sub

In [34]:
result = add_sub(7, 3)
result

# 결과가 튜플로 나옴!

(10, 4)

In [29]:
print(type(result))

<class 'tuple'>

In [32]:
a = 1
b = 3

In [33]:
t = a, b
t

(1, 3)

In [35]:
for i in enumerate(range(1,11)):
    print(type(i), i)

<class 'tuple'> (0, 1)
<class 'tuple'> (1, 2)
<class 'tuple'> (2, 3)
<class 'tuple'> (3, 4)
<class 'tuple'> (4, 5)
<class 'tuple'> (5, 6)
<class 'tuple'> (6, 7)
<class 'tuple'> (7, 8)
<class 'tuple'> (8, 9)
<class 'tuple'> (9, 10)

### 정방향 , 역방향 리스트 출력

In [38]:
 
 def interval2(a, b, c):
    asc = [i for i in range(a, b, c)]
    desc = [i for i in range(a, b, c)][::-1]
    return asc, desc;

In [39]:
interval2(1, 10, 2)

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])

## 4) 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

#### 예제 
1-10까지 숫자 중에 짝수만 출력하다가 7 이상이 되면 종료하기

In [40]:
age = range(1,11)

In [46]:
def even(age):
    for i in age:
        if i % 2 == 0:
            print(i, end = " ")
        elif i >= 7:
            break

In [45]:
even(age)

2 4 6

In [50]:
def even2(age):
    for i in age:
        if i % 2 == 0:
            print(i, end = " ")
        elif i >= 7:
            return

In [49]:
even2(age)

2 4 6

break랑  return 이 같은 결과를 출력함! 같은용도?

### 예제
1-100까지 숫자 중에 홀수만 출력하다 51번째 종료하는 odd 함수를 만들기

In [51]:
num = range(1,101)

In [60]:
def odd(num):
    for i in num:
        if i % 2 == 1:
            print(i, end = "  ")
        elif i >= 51:
            return

In [61]:
odd(range(1,101))

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51

In [65]:
h = list(range(1,101))
odd(h)


# =>  a = h

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49  51

## 5) 함수에서 위치 인수와 키워드 인수 사용하기
* 위치 인수(positional argument) <br>
함수에 인수를 순서대로 넣는 방식, 인수의 위치가 정해져 있음

In [63]:
def print_nums(a, b, c):
    print(a, b, c)

In [66]:
print_nums(10, 20, 30)

10 20 30

* 리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때, <br>
위치인수와 개수가 같으면 * 로 언패킹 가능

In [67]:
p = [10, 20, 30]

In [70]:
print_nums(p[0], p[1], p[2])

10 20 30

In [71]:
print_nums(*p)

10 20 30

In [76]:
# 리스트 언패킹 
# 개수가 맞으면 * 로 언패킹 가능

print(*p)

10 20 30

## 가변인수 
- 여러 개의 자료를 한번에 입력 받음
- *args  --> *변수명
- args : argument
- ' * ' 의 뜻 : 리스트를 풀어라 ?
- 굳이 args 라고 쓰지 않아도 된다. 
- 여러 개의 숫자를 입력받아 더하는 함수 (입력 개수가 정해져 있지 X)

In [77]:
print("a", "b", "c", "d")

a b c d

In [81]:
# 여러개 받아도 다 더할 수 있음!

def sum2(*args):
    hap = 0
    for i in args:
        hap += i
    return hap

In [79]:
sum2(1, 9, 8, 7)

25

In [82]:
sum2(1,2,3,4,5)

15

**** 가변인수 args는 튜플로 바뀐다.****

In [83]:
# args 아니여도 된다. 다른 명칭 넣어도 됨!

def sum2(*nums):
    hap = 0
    for i in nums:
        hap += i
    return hap

In [85]:
L1 = [1,1,2,2,3,2,5,3,7,8,5,7,4,7,9,4,1,5,7]
L1

[1, 1, 2, 2, 3, 2, 5, 3, 7, 8, 5, 7, 4, 7, 9, 4, 1, 5, 7]

In [111]:
def sum3(*nums):
    print(nums)
    print(type(nums))
    return sum(nums)

In [88]:
sum3(L1)

([1, 1, 2, 2, 3, 2, 5, 3, 7, 8, 5, 7, 4, 7, 9, 4, 1, 5, 7],)
<class 'tuple'>

TypeError: unsupported operand type(s) for +: 'int' and 'list'

sum3(L1) 가 오류가 난 이유 : <br>

리스트를 넣어줬는데 args가 자동으로 튜플로 --> 리스트 (튜플) --> 이렇게 감싸버려서, 안쪽에 숫자가 나와야 하는데 리스트가 나와 계산이 안되고 오류로 출력됨!

리스트를 풀어버리면 오류 해결 가능 <br>
밑에처럼 " * " 을 집어 넣으면 풀려서 출력됨!  ==> 언패킹

([1, 1, 2, 2, 3, 2, 5, 3, 7, 8, 5, 7, 4, 7, 9, 4, 1, 5, 7],) --> 튜플로 감싼 모습<br>
<class 'tuple'>

In [89]:
print(*[1, 1, 2, 2, 3, 2, 5, 3, 7, 8, 5, 7, 4, 7, 9, 4, 1, 5, 7])

1 1 2 2 3 2 5 3 7 8 5 7 4 7 9 4 1 5 7

In [90]:
def list_tuple_func(*args):
    print(args)
    print(type(args))

In [91]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [92]:
list_tuple_func(1.1, 1.2, 1.3, 1.4, 1.5)

(1.1, 1.2, 1.3, 1.4, 1.5)
<class 'tuple'>

In [95]:
list_tuple_func([1,2,3], [4,5,6], [7,8,9])


# 튜플 안에 리스트 3개 
# args로 받으면 다 이런 형태로 감싸짐

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

In [97]:
list_tuple_func(dict(a=1, b=2, c=3))

# 튜플 안에 딕셔너리

({'a': 1, 'b': 2, 'c': 3},)
<class 'tuple'>

## 고정인수 & 가변인수 함께 사용하기 
* 고정인수와 가변인수를 함께 사용할때는 반드시 <br>
고정인수, 가변인수 --> 순으로 넣고 가변인수는 항상 고정인수 뒤 가장 마지막에 넣는다.  <br><br>

#### 1: 고정인수, 2: 가변인수 (순서)
def sum(a, *args) :  --> 이렇게 주는 거 가능

def sum(*args, a) :  --> 이렇게 주는 거 불가능

### 예제

정수와 리스트를 입력받아 리스트의 요소에 입력받은 정수를 곱한 값의 리스트를 반환하는 함수 출력하기 
<br>
정수 : 3   <br>
리스트 : [1,2,3,4,5]   <br>
<br>
실행결과 <br>
3, 6, 9, 12, 15

In [98]:
def muls(a, *args):
    result = []
    for num in args: 
        print(a * num, end = " ")
        result.append(a * num)
    return result

In [101]:
muls(3, [1,2,3,4,5])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [109]:
# 이렇게 * 로 풀어서 해야함 = " 언패킹 "

muls(3, *[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]

In [106]:
# 이렇게 해도 되는 이유, a = 3 고정변수 딱 한개만 사용할 수 있기 때문!
# 하지만 리스트인지 뭔지 모를 수 있기 때문에 *[] 이렇게 넣는게 나음

muls(3,1,2,3,4,5)

3 6 9 12 15

[3, 6, 9, 12, 15]

# ======================================================

# 키워드 인수

개인정보를 출력하는 함수

In [1]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [2]:
personal_info('홍길동', 30, '서울시 송파구')

이름:  홍길동
나이:  30
주소:  서울시 송파구

In [3]:
personal_info('이강인', 24, '프랑스')

이름:  이강인
나이:  24
주소:  프랑스

In [4]:
personal_info(24, '이강인', '프랑스')

이름:  24
나이:  이강인
주소:  프랑스

* 위의 함수는 인수의 순서를 모두 기억해야 하기 때문에 사용하기 어려움
* 인수의 순서와 용도를 매번 기억하지 않도록 하기 위해서 키워드 인수(keyword argument) 사용
* 예) print("python", sep = "    ", end = "\n")  sep, end  => 키워드 인수

### dict(key = 'value')

In [4]:
dict(key = 'value')

{'key': 'value'}

dict 딕셔너리 할당하는 방식처럼 만들기!  그럼 제대로 잘 들어감 


personal_info 함수를 키워드 인수 방식으로 호출

In [5]:
personal_info(name = '홍길동', age = 30, address = "서울시 송파구")

이름:  홍길동
나이:  30
주소:  서울시 송파구

In [5]:
personal_info(age = 29, name = '김민재', address = '독일')

이름:  김민재
나이:  29
주소:  독일

<br><br>
장점 : 키워드 인수 방식으로 함수를 호출하면 인수 순서나 위치가 바뀌어도 동작함!
<br><br>
personal_info(age = 30, address = "서울시 송파구", name = '홍길동')  <br> 
이렇게 순서를 바꿔도 결과는 동일하게 출력됨

In [6]:
print("python", 'hello', end = "\t", sep = " : ")

python : hello

In [8]:
def my_print2(end, sep, *args) :
    print(args)
    pass

In [11]:
my_print2(1,2,(3,4))

((3, 4),)

## 딕셔너리 언패킹

In [17]:
#  딕셔너리 만들기 

p_info = dict(name = '홍길동', age = 30, address = "서울시 송파구")
p_info

{'name': '홍길동', 'age': 30, 'address': '서울시 송파구'}

<br>

* 딕셔너리 언패킹 
* 딕셔너리 앞에 별 두개 ' * * ' 를 붙여서 딕셔너리를 언패킹 해줌

#### **{'name' : '홍길동', 'age': 30, 'address': '서울시 송파구'}
<br> <br>

In [16]:
personal_info(**p_info)

이름:  홍길동
나이:  30
주소:  서울시 송파구

### 키워드 인수를 사용하는 가변인수 함수 만들기 
<br>
def  함수이름 (**kwargs):  <br>
_____ 코드  <br>
_____ return   <br><br>



* kwargs : keyword arguments

In [8]:
def personal_info2(**kwargs):
    print("kwargs: ", kwargs)
    print("kwargs type: ", type(kwargs))

In [9]:
personal_info2( name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')

kwargs:  {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}
kwargs type:  <class 'dict'>

In [10]:
d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')
d

{'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}

In [11]:
personal_info2(d)
               
    
# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함.

TypeError: personal_info2() takes 0 positional arguments but 1 was given


personal_info2(d)

<br> 만 입력했을 때 오류 : <br>


personal_info2() takes 0 positional arguments but 1 was given
<br> 
(**kwargs)  만 넣기 때문에 positional argument 를

In [12]:
personal_info2(**d)



# 이렇게 풀어서 넣어야 함!

kwargs:  {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}
kwargs type:  <class 'dict'>

In [15]:
d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')
d

{'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}

In [16]:
def personal_info3(**kwargs):
    print("kwargs: ", kwargs)
    print("kwargs type: ", type(kwargs)) 
    
    for key, value in kwargs.items():
        print(key, value)

In [17]:
personal_info3(**d)

# d 가 딕셔너리임

kwargs:  {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}
kwargs type:  <class 'dict'>
name 손흥민
age 33
address 서울시 성동구
school 토트넘

In [23]:
def personal_info4(name, **kwargs):
    print("name: ", name)
    print("kwargs: ", kwargs)
    print("kwargs type: ", type(kwargs))

    
    # 여기서 name 은 고정인수임. 그래서 꼭 값을 넣어야 함.

In [20]:
personal_info4('손흥민')

name:  손흥민
kwargs:  {}
kwargs type:  <class 'dict'>

In [21]:
personal_info4('손흥민', age = 30, address = '서울시 성동구')


# 여기서 '손흥민' --> 고정인수

name:  손흥민
kwargs:  {'age': 30, 'address': '서울시 성동구'}
kwargs type:  <class 'dict'>

In [24]:
personal_info4(age = 30, address = '서울시 성동구')\


# 고정인수로 name을 설정했는데 넣지 않아서 오류가 난 것임.

TypeError: personal_info4() missing 1 required positional argument: 'name'

* 위 내용이 에러난 이유 : <br>
고정인수 ' name '을 넣지 않았기 때문!

### 가변인수와 가변키워드인수 함께쓰기

* def 함수명(*args, **kwargs) : 
* def 함수명(고정인자, *args, **kwargs) : 

** 무조건 저 순서로 해야 한다. 아님 오류남

In [26]:
def custom_print(*args, **kwargs): 
    print(*args, **kwargs)
    
    
custom_print(1,2,3, sep = " !! ", end = "")

1 !! 2 !! 3

1sep  2sep  3sep 이렇게 찍혀 출력된거임

함수 내부에서 print(*args, **kwargs)는 받은 위치 인자들을 그대로 출력하는 역할을 합니다. 따라서 custom_print(1, 2, 3, sep=" !! ", end="")라는 호출에서:
<br><br>
* 1, 2, 3 : 위치 인자로 각각 1, 2, 3으로 전달됩니다.  <br>
* sep=" !! " : 키워드 인자로, 출력할 때 숫자들 사이에 구분자로 사용됩니다.  <br>
* end="  " : 역시 키워드 인자로, 마지막 숫자 뒤에 아무것도 추가하지 않고 출력을 마칩니다.  <br>

매개변수 = 함수 내에서 사용되는 변수 <br>

* 위치인수(positional argument) : 위치가 고정된 매개 변수, 위치인수는 키워드 인수로 사용가능 (변수명 = 값)
* 가변인수 : 여러개의 자료를 동시에 받을 수 있는 매개 변수 => 받고나면 튜플로 들어옴 
* 키워드 가변인수 : 여러개의 자료를 동시에 받을 수 있는데 key = value 형태로 받는 매개변수 => dict로 들어옴

매개변수에 초기값 지정하기 <br>
- 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함!

In [28]:
# 매개변수에 초기값 지정하기 
# address = "비공개"

def personal_info5(name, age, address = "비공개"):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [29]:
personal_info5('이강인', 24, '서울시 강남구')

이름:  이강인
나이:  24
주소:  서울시 강남구

In [30]:
personal_info5('손흥민', 33)

이름:  손흥민
나이:  33
주소:  비공개

In [31]:
def personal_info5(name, address = "비공개", age):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)
    
    # 에러나는 이유
    # 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함!
    # name, age, address = "비공개"

SyntaxError: non-default argument follows default argument (3738891772.py, line 1)

매개변수의 종류에 따른 순서 <br>

- 위치인수, 위치인수 = 기본값, *args , **kwargs

In [32]:
def personal_info6(*args, **kwargs, address = "비공개"):
    print('args: ', args)
    print('kwargs': ', kwargs)
    print('주소: ', address)
    
    # 에러남

SyntaxError: unterminated string literal (detected at line 3) (2362010530.py, line 3)

In [33]:
def personal_info6(*args, address = "비공개",  **kwargs):
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)
    
    # 에러 x

In [34]:
def personal_info6(address = "비공개", *args, **kwargs):
    print('args: ', args)
    print('kwargs: ', kwargs)
    print('주소: ', address)
    
    # 에러 x

In [35]:
personal_info6(1,2,3,4, name = "홍길동", age = 33)


# 제일 앞에 것 '1'을 address로 인식했음.

args:  (2, 3, 4)
kwargs:  {'name': '홍길동', 'age': 33}
주소:  1

## 함수 Doc 스트링 사용하기 
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓는 것 = " 도움말 " <br><br>
def 함수이름(매개변수) : <br>
_____ """ 독스트링으로 설명 적기 """  <br>
_____ 실행코드   <br>
_____ return   <br><br>


* 큰따옴표 " 3개씩 씀
* print(함수이름.doc)
* help(함수이름)

* 함수 실행시에는 뜨지 않음.

In [36]:
print()

In [40]:
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. 
    """
    return a + b

In [41]:
add(10, 5)

15

In [42]:
add()

# 이렇게 함수를 쓰고, shift + tab 키 누르면, 
# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."
# 라는 말이 뜸

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

### 독스트링 :  shift + Tab  키

In [64]:
print(add.__doc__)

# 언더바 2개

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

# ====================================================

## 람다 표현식 (lambda expression) 


* 파이썬에서 람다 함수는 간단한 함수를 한 줄로 작성할 수 있어 매우 유용하게 사용됩니다. 람다 함수는 함수를 정의할 때 def 키워드를 사용하지 않고, lambda 키워드를 사용하여 작성합니다. 주로 간단한 함수를 정의할 때 사용됩니다.
<br><br>
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 익명함수(함수명이 없음)
* 사용 후 메모리에서 삭제 --> 일회용 종이컵처럼 한번 쓰면 버려짐

In [44]:
print(globals())


# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', "def personal_info(name, age, address):\n    print('이름: ', name)\n    print('나이: ', age)\n    print('주소: ', address)", "personal_info('홍길동', 30, '서울시 송파구')", "personal_info('이강인', 24, '프랑스')", "personal_info(24, '이강인', '프랑스')", "personal_info(age = 29, name = '김민재', address = '독일')", 'personal_info2(d)\n               \n    \n# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함. \n            ', 'personal_info2(**d)\n\n\n\n# 이렇게 풀어서 넣어야 함!', 'def personal_info2(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))', "personal_info2( name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')", "d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')\nd", 'personal_info2(d)\n               \n    \n# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함. \n            ', 'personal_info2(**d)\n\n\n\n# 이렇게 풀어서 넣어야 함!', 'def personal_info3(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))\n    \n    for key, value in kwargs.items():\n        print(key, value)', 'personal_info3(**d)\n\n# d 가 딕셔너리임', "d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')\nd", 'def personal_info3(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs)) \n    \n    for key, value in kwargs.items():\n        print(key, value)', 'personal_info3(**d)\n\n# d 가 딕셔너리임', "personal_info4('손흥민', age = 30, address = '서울시 성동구')\n\n\n# 여기서 '손흥민' --> 고정인수 ", 'def personal_info4(name, **kwargs):\n    print("name: ", name)\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))', "personal_info4('손흥민')", "personal_info4('손흥민', age = 30, address = '서울시 성동구')\n\n\n# 여기서 '손흥민' --> 고정인수 ", "personal_info4(age = 30, address = '서울시 성동구')", 'def personal_info4(name, **kwargs):\n    print("name: ", name)\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))\n\n    \n    # 여기서 name 은 고정인수임. 그래서 꼭 값을 넣어야 함. ', "personal_info4(age = 30, address = '서울시 성동구')\\\n\n\n# 고정인수로 name을 설정했는데 넣지 않아서 오류가 난 것임. ", 'def custom_print(*args, **kwargs): \n    print(*args, **kwargs)\n    \n    \ncustom_print(1,2,3, sep = " !! ", end = "")', 'def custom_print(*args, **kwargs): \n    print(*args, **kwargs)\n    \n    \ncustom_print(1,2,3, sep = " !! ", end = "")', 'personal_info6(1,2,3,4, name = "홍길동", age = 33)\n\n\n# 제일 앞에 것 \'1\'을 address로 인식했음.', '# 매개변수에 초기값 지정하기 \n# address = "비공개"\n\ndef personal_info5(name, age, address = "비공개"):\n    print(\'이름: \', name)\n    print(\'나이: \', age)\n    print(\'주소: \', address)\n    ', "personal_info5('이강인', 24, '서울시 강남구')", "personal_info5('손흥민', 33)", 'def personal_info5(name, address = "비공개", age):\n    print(\'이름: \', name)\n    print(\'나이: \', age)\n    print(\'주소: \', address)\n    \n    # 에러나는 이유\n    # 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함!\n    # name, age, address = "비공개"', 'def personal_info6(*args, **kwargs, address = "비공개"):\n    print(\'args: \', args)\n    print(\'kwargs\': \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러남', 'def personal_info6(*args, address = "비공개",  **kwargs):\n    print(\'args: \', args)\n    print(\'kwargs: \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러 x ', 'def personal_info6(address = "비공개", *args, **kwargs):\n    print(\'args: \', args)\n    print(\'kwargs: \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러 x', 'personal_info6(1,2,3,4, name = "홍길동", age = 33)\n\n\n# 제일 앞에 것 \'1\'을 address로 인식했음.', 'print()', 'def add(a, b):\n    """\n    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. \n    """\n    return a + b ', 'add(10, 5)', 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', 'def add(a, b):\n    """\n    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. \n    """\n    return a + b ', 'add(10, 5)', 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함', 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함 '], '_oh': {10: {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, 15: {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, 38: 15, 41: 15}, '_dh': [WindowsPath('C:/Users/5-05/Desktop/fintech_service/04python')], 'In': ['', "def personal_info(name, age, address):\n    print('이름: ', name)\n    print('나이: ', age)\n    print('주소: ', address)", "personal_info('홍길동', 30, '서울시 송파구')", "personal_info('이강인', 24, '프랑스')", "personal_info(24, '이강인', '프랑스')", "personal_info(age = 29, name = '김민재', address = '독일')", 'personal_info2(d)\n               \n    \n# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함. \n            ', 'personal_info2(**d)\n\n\n\n# 이렇게 풀어서 넣어야 함!', 'def personal_info2(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))', "personal_info2( name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')", "d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')\nd", 'personal_info2(d)\n               \n    \n# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함. \n            ', 'personal_info2(**d)\n\n\n\n# 이렇게 풀어서 넣어야 함!', 'def personal_info3(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))\n    \n    for key, value in kwargs.items():\n        print(key, value)', 'personal_info3(**d)\n\n# d 가 딕셔너리임', "d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')\nd", 'def personal_info3(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs)) \n    \n    for key, value in kwargs.items():\n        print(key, value)', 'personal_info3(**d)\n\n# d 가 딕셔너리임', "personal_info4('손흥민', age = 30, address = '서울시 성동구')\n\n\n# 여기서 '손흥민' --> 고정인수 ", 'def personal_info4(name, **kwargs):\n    print("name: ", name)\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))', "personal_info4('손흥민')", "personal_info4('손흥민', age = 30, address = '서울시 성동구')\n\n\n# 여기서 '손흥민' --> 고정인수 ", "personal_info4(age = 30, address = '서울시 성동구')", 'def personal_info4(name, **kwargs):\n    print("name: ", name)\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))\n\n    \n    # 여기서 name 은 고정인수임. 그래서 꼭 값을 넣어야 함. ', "personal_info4(age = 30, address = '서울시 성동구')\\\n\n\n# 고정인수로 name을 설정했는데 넣지 않아서 오류가 난 것임. ", 'def custom_print(*args, **kwargs): \n    print(*args, **kwargs)\n    \n    \ncustom_print(1,2,3, sep = " !! ", end = "")', 'def custom_print(*args, **kwargs): \n    print(*args, **kwargs)\n    \n    \ncustom_print(1,2,3, sep = " !! ", end = "")', 'personal_info6(1,2,3,4, name = "홍길동", age = 33)\n\n\n# 제일 앞에 것 \'1\'을 address로 인식했음.', '# 매개변수에 초기값 지정하기 \n# address = "비공개"\n\ndef personal_info5(name, age, address = "비공개"):\n    print(\'이름: \', name)\n    print(\'나이: \', age)\n    print(\'주소: \', address)\n    ', "personal_info5('이강인', 24, '서울시 강남구')", "personal_info5('손흥민', 33)", 'def personal_info5(name, address = "비공개", age):\n    print(\'이름: \', name)\n    print(\'나이: \', age)\n    print(\'주소: \', address)\n    \n    # 에러나는 이유\n    # 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함!\n    # name, age, address = "비공개"', 'def personal_info6(*args, **kwargs, address = "비공개"):\n    print(\'args: \', args)\n    print(\'kwargs\': \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러남', 'def personal_info6(*args, address = "비공개",  **kwargs):\n    print(\'args: \', args)\n    print(\'kwargs: \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러 x ', 'def personal_info6(address = "비공개", *args, **kwargs):\n    print(\'args: \', args)\n    print(\'kwargs: \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러 x', 'personal_info6(1,2,3,4, name = "홍길동", age = 33)\n\n\n# 제일 앞에 것 \'1\'을 address로 인식했음.', 'print()', 'def add(a, b):\n    """\n    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. \n    """\n    return a + b ', 'add(10, 5)', 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', 'def add(a, b):\n    """\n    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. \n    """\n    return a + b ', 'add(10, 5)', 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함', 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함 '], 'Out': {10: {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, 15: {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, 38: 15, 41: 15}, 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000138765535E0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x00000138765AC0D0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x00000138765AC0D0>, 'open': <function open at 0x0000013874F7A5F0>, '_': 15, '__': 15, '___': {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, '_i': 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함', '_ii': 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', '_iii': 'add(10, 5)', '_i1': "def personal_info(name, age, address):\n    print('이름: ', name)\n    print('나이: ', age)\n    print('주소: ', address)", 'personal_info': <function personal_info at 0x00000138765972E0>, '_i2': "personal_info('홍길동', 30, '서울시 송파구')", '_i3': "personal_info('이강인', 24, '프랑스')", '_i4': "personal_info(24, '이강인', '프랑스')", '_i5': "personal_info(age = 29, name = '김민재', address = '독일')", '_i6': 'personal_info2(d)\n               \n    \n# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함. \n            ', '_i7': 'personal_info2(**d)\n\n\n\n# 이렇게 풀어서 넣어야 함!', '_i8': 'def personal_info2(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))', 'personal_info2': <function personal_info2 at 0x000001387674A050>, '_i9': "personal_info2( name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')", '_i10': "d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')\nd", 'd': {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, '_10': {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, '_i11': 'personal_info2(d)\n               \n    \n# 딕셔너리로 묶여있기 때문에 ** 로 풀어서 넣어줘야 함. \n            ', '_i12': 'personal_info2(**d)\n\n\n\n# 이렇게 풀어서 넣어야 함!', '_i13': 'def personal_info3(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))\n    \n    for key, value in kwargs.items():\n        print(key, value)', 'personal_info3': <function personal_info3 at 0x0000013876749AB0>, '_i14': 'personal_info3(**d)\n\n# d 가 딕셔너리임', '_i15': "d = dict(name= '손흥민', age = 33, address = '서울시 성동구', school = '토트넘')\nd", '_15': {'name': '손흥민', 'age': 33, 'address': '서울시 성동구', 'school': '토트넘'}, '_i16': 'def personal_info3(**kwargs):\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs)) \n    \n    for key, value in kwargs.items():\n        print(key, value)', '_i17': 'personal_info3(**d)\n\n# d 가 딕셔너리임', '_i18': "personal_info4('손흥민', age = 30, address = '서울시 성동구')\n\n\n# 여기서 '손흥민' --> 고정인수 ", '_i19': 'def personal_info4(name, **kwargs):\n    print("name: ", name)\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))', 'personal_info4': <function personal_info4 at 0x0000013876597490>, '_i20': "personal_info4('손흥민')", '_i21': "personal_info4('손흥민', age = 30, address = '서울시 성동구')\n\n\n# 여기서 '손흥민' --> 고정인수 ", '_i22': "personal_info4(age = 30, address = '서울시 성동구')", '_i23': 'def personal_info4(name, **kwargs):\n    print("name: ", name)\n    print("kwargs: ", kwargs)\n    print("kwargs type: ", type(kwargs))\n\n    \n    # 여기서 name 은 고정인수임. 그래서 꼭 값을 넣어야 함. ', '_i24': "personal_info4(age = 30, address = '서울시 성동구')\\\n\n\n# 고정인수로 name을 설정했는데 넣지 않아서 오류가 난 것임. ", '_i25': 'def custom_print(*args, **kwargs): \n    print(*args, **kwargs)\n    \n    \ncustom_print(1,2,3, sep = " !! ", end = "")', 'custom_print': <function custom_print at 0x0000013877AE8790>, '_i26': 'def custom_print(*args, **kwargs): \n    print(*args, **kwargs)\n    \n    \ncustom_print(1,2,3, sep = " !! ", end = "")', '_i27': 'personal_info6(1,2,3,4, name = "홍길동", age = 33)\n\n\n# 제일 앞에 것 \'1\'을 address로 인식했음.', '_i28': '# 매개변수에 초기값 지정하기 \n# address = "비공개"\n\ndef personal_info5(name, age, address = "비공개"):\n    print(\'이름: \', name)\n    print(\'나이: \', age)\n    print(\'주소: \', address)\n    ', 'personal_info5': <function personal_info5 at 0x0000013877AE8940>, '_i29': "personal_info5('이강인', 24, '서울시 강남구')", '_i30': "personal_info5('손흥민', 33)", '_i31': 'def personal_info5(name, address = "비공개", age):\n    print(\'이름: \', name)\n    print(\'나이: \', age)\n    print(\'주소: \', address)\n    \n    # 에러나는 이유\n    # 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함!\n    # name, age, address = "비공개"', '_i32': 'def personal_info6(*args, **kwargs, address = "비공개"):\n    print(\'args: \', args)\n    print(\'kwargs\': \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러남', '_i33': 'def personal_info6(*args, address = "비공개",  **kwargs):\n    print(\'args: \', args)\n    print(\'kwargs: \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러 x ', 'personal_info6': <function personal_info6 at 0x0000013877AE84C0>, '_i34': 'def personal_info6(address = "비공개", *args, **kwargs):\n    print(\'args: \', args)\n    print(\'kwargs: \', kwargs)\n    print(\'주소: \', address)\n    \n    # 에러 x', '_i35': 'personal_info6(1,2,3,4, name = "홍길동", age = 33)\n\n\n# 제일 앞에 것 \'1\'을 address로 인식했음.', '_i36': 'print()', '_i37': 'def add(a, b):\n    """\n    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. \n    """\n    return a + b ', 'add': <function add at 0x0000013876749000>, '_i38': 'add(10, 5)', '_38': 15, '_i39': 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', '_i40': 'def add(a, b):\n    """\n    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다. \n    """\n    return a + b ', '_i41': 'add(10, 5)', '_41': 15, '_i42': 'add()\n\n# 이렇게 함수를 쓰고, shift + tab 키 누르면, \n# "이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다."\n# 라는 말이 뜸', '_i43': 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함', '_i44': 'print(globals())\n\n\n# 전역변수로 지금까지 우리가 코드 실행했던 내용들 메모리에서 호출함 '}

In [47]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수


def plus_ten(x):
    return x + 10

In [48]:
plus_ten(5)

15

방법1) 람다 함수에 괄호를 씌우고 뒤에 인수를 넣어서 직접 호출

In [49]:
# def lambda():

(lambda x : x + 10)(5)

15

In [50]:
(lambda x : x + 10)(6)

16

방법2) 람다 함수를 변수에 넣고 변수에 인수를 넣어서 호출

In [51]:
plus_five = lambda x : x + 5

In [52]:
plus_five(3)

8

map(함수, 리스트자료)

In [53]:
a, b, c, d = map(int, ["1", "2", "4", "5"])

In [54]:
a, b, c, d

(1, 2, 4, 5)

In [55]:
plus_five = lambda x : x + 5

In [56]:
result = map(plus_five, [1,2,3,4,5])
print(list(result))

# 1+5
# 2+5
# 3+5
# 4+5
# 5+5

[6, 7, 8, 9, 10]

In [57]:
list(map(lambda x : x + 10, [1,2,3,4,5]))

[11, 12, 13, 14, 15]

In [58]:
hap = []

for i in [1,2,3,4,5]:
    hap.append(i+10)
print(hap)

# 위 내용 다른 ver.

[11, 12, 13, 14, 15]

### 람다 표현식에서 조건부 표현식 사용하기

In [63]:
# 3의 배수만 문자열로 바꾸기 

a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
a = list(range(1,11))


for i in a : 
    if i % 3 == 0 :
        num_str = str(i)
        print(num_str)
        print(type(num_str))

3
<class 'str'>
6
<class 'str'>
9
<class 'str'>

In [61]:
a = list(range(1, 11))

def tostr3(a):
    result = [str(i) if i % 3 == 0 else i for i in a]
    return result

print(tostr3(a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [62]:
result = [(lambda x: str(x) if x % 3 == 0 else x)(i) for i in a]


print(result)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [101]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [104]:
list(map(lambda x, y, z : x * y * z, a, b, c))


# 1 x 2 x 3
# 2 x 4 x 6
# 3 x 6 x 9
# 4 x 8 x 12
# 5 x 10 x 15

[6, 48, 162, 384, 750]

In [105]:
result = []

for x, y, z in zip(a, b, c):
    result.append(x * y * z)
result

[6, 48, 162, 384, 750]