## 5. 30을 8로 나눈 몫과 나머지를 각각 변수 a와 b에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

실행결과
```
30을 8로 나눈 몫은 3
30을 8로 나눈 나머지는 6
30을 8로 나눈 결과는 3.75
```

In [7]:
a = 30 // 8

In [8]:
b = 30 % 8

In [9]:
30 / 8

3.75

In [11]:
print(a)
print(b)

3
6

# 컴퓨터와 묻고 답하기 그리고 문자열 다루기

## 7. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
```
a = '시은 우진'
```
실행결과<br>

```
시은 우진 화이팅!!
________빈 줄_______
시은 우진 화이팅!!
```

In [14]:
a = '시은 우진'

In [19]:
print(a, '화이팅!!')
print(" ")
print(a, '화이팅!!')

시은 우진 화이팅!!

시은 우진 화이팅!!

## 8. 이름과 나이를 키보드로 입력받은 값을 각각 변수 name과 age에 저장하고 다음과 같이 출력하는 코드를 작성하세요.

```
이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는 18 살이 됩니다.
```

메이킷
17
이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는 18 살이 됩니다.

In [20]:
name = '메이킷'
age = 17

In [25]:
print("이름이 무엇인가요?", name)
print("몇 살인가요?", age)
print(name, "님은 내년에는 ", age+1, "살이 됩니다.")

이름이 무엇인가요? 메이킷
몇 살인가요? 17
메이킷 님은 내년에는  18 살이 됩니다.

## 9. 정수와 실수를 각각 변수 a, b에 입력받아 두 숫자의 합과 평균을 구하는 코드를 작성하세요.
실행결과
```
3
2.5
a와 b의 합은 5.5
a와 b의 평균값은 2.75
```

a와 b의 합은 5.5
a와 b의 평균값은 2.75

* 나의 답변

In [26]:
a = 3
b = 2.5
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [29]:
a + b

5.5

In [30]:
print(type(a+b))

<class 'float'>

In [32]:
( a + b )/2

2.75

* 실제 답변

In [128]:
a = int(input("정수 입력: "))

정수 입력: 3

In [129]:
b = float(input("실수 입력: "))

실수 입력: 2.5

In [130]:
print("a와 b의 합은", a + b)

a와 b의 합은 5.5

In [132]:
avg = (a + b)/2
avg

2.75

In [133]:
print("a와 b의 평균값은", avg)

a와 b의 평균값은 2.75

## 10. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성하세요.

실행결과
```
result1 = S
result2 = W
result3 = !
```

In [ ]:
makeit = 'Sieun Woojin!'

result1 = S
result2 = W
result3 = !

* 나의 답변

In [33]:
makeit = 'Sieun Woojin!'

In [42]:
result = makeit.split()

In [43]:
result

['Sieun', 'Woojin!']

In [46]:
result[0]

'Sieun'

In [64]:
result1 = makeit[:1]
print(result1)

S

In [61]:
result2 = makeit[6:7]
print(result2)

W

In [60]:
result3 = makeit[12:13]
print(result3)

!

In [65]:
print(result1)
print(result2)
print(result3)

S
W
!

* 실제 답변 : 인덱싱 문제

In [134]:
makeit = 'Sieun Woojin!'

In [ ]:
print("result1 ="")

## 11. makit 문자열 변수를 활용해 아래와 같은 실행 결과가 나오도록 코드의 빈칸을 완성해 보세요.
실행결과
```
eun Woo
Sieun
Woojin!
```

In [ ]:
makit = 'Sieun Woojin!'

eun Wooji
Sieun
Woojin!

In [66]:
makit = 'Sieun Woojin!'

* 실제 답변 : 슬라이싱 문제

In [135]:
makit = 'Sieun Woojin!'

In [136]:
makit[2:9]

'eun Woo'

In [137]:
print(makit[2:9])

eun Woo

In [138]:
makit[:5]

'Sieun'

In [140]:
print(makit[:5])

Sieun

In [141]:
makit[6:]

'Woojin!'

In [142]:
print(makit[6:])

Woojin!

In [145]:
# 최종답변
print(makit[2:9])
print(makit[:5])
print(makit[6:])

eun Woo
Sieun
Woojin!

## 12. makit 문자열 변수에는 ‘동서남북동서남북동서남북’이 저장되어 있습니다. makit 문자열 변수에서 ‘동’만 출력하는 코드를 작성하세요.
실행결과
```
동동동
```

In [ ]:
makit = '동서남북동서남북동서남북'

'동동동'

In [147]:
makit = '동서남북동서남북동서남북'

In [71]:
makit

'동서남북동서남북동서남북'

* 나의 답변

In [90]:
makit.translate(str.maketrans('','', '서남북'))

'동동동'

* 실제 답변

In [148]:
print(makit[0::4])

동동동

## 13. makit 문자열에 ‘동서남북’이라고 저장되어 있습니다. makit 문자열 변수를 뒤집어서 ‘북남서동’으로 출력하는 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
북남서동
```

In [ ]:
makit = '동서남북'

'북남서동'

In [80]:
makit = '동서남북'

In [88]:
makit_reverse = makit[::-1]
makit_reverse

'북남서동'

## 14. makit 문자열에 핸드폰 번호가 다음과 같이 저장되어 있습니다. ‘.‘을 ‘-’으로 변경해 다음과 같이 실행 결과가 나오도록 코드의 빈칸을 완성한 코드를 작성하세요.
실행결과
```
010-1234-5678
```

In [ ]:
phone = '010.1234.5678'

'010-1234-5678'

In [91]:
phone = '010.1234.5678'

str.maketrans('찾을문자', '바꿀문자', '추가로 없앨문자') 로 변환테이블 생성

In [94]:
phone.translate(str.maketrans('.','-'))

'010-1234-5678'

## 17. 초를 입력하면 ‘몇 분 몇 초’로 환산해주는 코드를 다음과 같이 출력하도록 작성하세요.
실행결과
```
초를 입력하세요:1234
1234 초(sec)는 20 분(min) 34 초(sec)입니다
```

초를 입력하세요: 1234
1234 초(sec)는 20 분(min) 34 초(sec2)입니다.

In [98]:
sec = int(input("초를 입력하세요: "))

초를 입력하세요: 1234

In [99]:
print(sec)

1234

In [107]:
min = sec//60
min

20

In [108]:
sec2 = sec%60
sec2

34

In [109]:
print(sec, "초(sec)는", min ,"분(min)", sec2, "초(sec2)입니다.")

1234 초(sec)는 20 분(min) 34 초(sec2)입니다.

## 18. 다음과 같이 시간을 분 단위로 입력하면 며칠, 몇 시간, 몇 분으로 환산해서 출력하는 코드를 작성하세요.
실행결과
```
분을 입력하세요:7512
7512 분은 5 일 5 시간 12 분입니다
```

분을 입력하세요: 7512
7512 분은 5 일 5 시간 12 분입니다.

In [111]:
min = int(input("분을 입력하세요: "))

분을 입력하세요: 7512

In [112]:
print(min)

7512

In [123]:
hour = min / 60
hour

125.2

In [117]:
day = int(hour // 24)
day

5

In [127]:
day2 = int(hour % 24)
day2

5

In [118]:
print(min, "분은", day, "일", day2, "시간", )

7512 분은 5 일

In [119]:
5*24

120

# 리스트(list) 다루기

## 19. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진', '시은']
메이킷
우진
시은
```

In [ ]:
L = ['메이킷', '우진', '시은']

['메이킷', '우진', '시은']
메이킷
우진
시은

## 20.다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.
실행결과
```
['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']
```

In [ ]:
a = ['메이킷','우진','제임스','시은']

['메이킷', '우진']
['우진', '제임스', '시은']
['제임스', '시은']
['메이킷', '우진', '제임스', '시은']

## 21. 리스트 추가, 삭제하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하여 전체 코드를 입력하세요.<br>
실행결과
```
['우진', '시은', '메이킷']
['우진', '시은']
```

In [ ]:
a = ['우진','시은']

['우진', '시은', '메이킷']
['우진', '시은']

## 22. 리스트 원하는 위치에 삽입하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '하워드', '시은', '메이킷']
```

In [ ]:
a = ['우진','시은','메이킷']

['우진', '하워드', '시은', '메이킷']

## 23. 리스트 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']
```

In [ ]:
a = ['우진', '시은']
b = ['메이킷', '소피아', '하워드']

['우진', '시은', '메이킷', '소피아', '하워드']
['메이킷', '소피아', '하워드']

## 24. 공백 리스트와 합치기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']
```

In [ ]:
a = ['우진','시은']
b = ['메이킷','소피아','하워드']

['우진', '시은']
['우진', '시은', '메이킷', '소피아', '하워드']

## 25. 리스트의 개수인 길이 구하기
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5
```

In [ ]:
a = [3, 7, 4, 5, 6, 8]

리스트 a의 개수 즉 길이는 6
리스트 a의 숫자들의 평균은 5.5

## 26. 리스트 잘라내기(슬라이싱)
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성한 전체 코드를 작성하세요.<br>
실행결과
```
b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']
```

In [ ]:
a = [1,2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

b : [1, 2, 3, 4, 5]
c : ['a', 'b', 'c', 'd', 'e']
d : [5, 'a']
e : [1, 3, 5, 'b', 'd']
f : [2, 4, 'a', 'c', 'e']

## 27. 리스트 거꾸로 잘라내기
a = [‘형우’, ’윤진 ', '시은', '우진']과 같은 리스트가 있을 때 리스트 슬라이싱으로 리스트 순서가 거꾸로 바뀐 리스트를 생성해서 출력하세요. 아래 코드의 빈칸을 완성하세요.<br>
실행결과
```
['우진', '시은', '윤진', '형우']
```

In [ ]:
a = ['형우', '윤진', '시은', '우진']

['우진', '시은', '윤진', '형우']

## 28. 리스트 안에 리스트
다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
```
메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98
```

In [ ]:
a = [['메이킷', 95], ['우진', 100], ['시은', 98]]

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

In [150]:
a = [['메이킷', 95], ['우진', 100], ['시은', 98]]

In [152]:
a[0][1]

95

In [154]:
print("메이킷 학생의 시험 점수는", a[0][1])
print("우진 학생의 시험 점수는", a[1][1])
print("시은 학생의 시험 점수는", a[2][1])

메이킷 학생의 시험 점수는 95
우진 학생의 시험 점수는 100
시은 학생의 시험 점수는 98

## 29. 리스트 안에 있는 문자로 하나의 문자열 만들기(join)
a = [‘시은’, ’우진’, ’지연’, ’지훈’]과 같이 우리 반 학생들 이름이 저장된 리스트가 있습니다. 이 리스트의 문자열들을 연결(join)해 하나의 문자열을 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
시은 우진 지훈 지연
```

In [ ]:
a = ['시은', '우진', '지훈', '지연']

'시은 우진 지훈 지연'

In [155]:
a = ['시은', '우진', '지훈', '지연']

In [160]:
" ".join(a)

'시은 우진 지훈 지연'

## 30. 문자열 분리해 리스트 만들기(split)
a = '시은 우진 지훈 지연'과 같이 우리 반 학생들 이름이 저장된 문자열이 있습니다. 공백이 나올 때마다 문자열을 분리해(split) 하나의 리스트를 만들려고 합니다. 다음과 같이 코드 실행 결과가 나오도록 코드의 빈칸을 완성하세요.<br>
실행결과
```
['시은', '우진', '지훈', '지연']
```

In [ ]:
a = '시은 우진 지훈 지연'

['시은', '우진', '지훈', '지연']

## 31. 여러 개의 값 입력받기(input + split)
세 개의 숫자를 입력받아 가장 작은 숫자를 출력하는 코드를 작성하세요.<br>
입력
```
10 2 123
```
출력
```
2
```

10 2 123

TypeError: ignored