# 딕셔너리 dict 사용하기 
* 딕셔너리형(dictionary) 변수 JSON형이라고도 함
* 웹상에서 가장 많이 사용되는 자료형
* 딕셔너리를 잘 이해하면 pandas 도 쉽게 이해 가능
* 딕셔너리는 Key : value로 이루어진 자료형
* key를 호출하면 value가 나온다.

## 딕셔너리 만들기 : {key : value, key : value}

In [2]:
d = {'년월' : '20240710', '국가' : '미국', '방문자수' : 1000}
d

{'년월': '20240710', '국가': '미국', '방문자수': 1000}

* 안에 리스트, 튜플, 다른 딕셔너리 등 다 들어갈 수 있음

In [3]:
d['년월']

'20240710'

In [4]:
d['방문자수']

1000


## 딕셔너리 key의 자료형
* key 가능 : 문자열, 정수, 실수, 블린(True, False), tuple  
* key 불가능 : list, dict

In [10]:
e = {'백' : 100, 100 : '백', 3.5 : [3.6, 3.7], False : 0, (0,'서울') : '종로구'}
e

{'백': 100, 100: '백', 3.5: [3.6, 3.7], False: 0, (0, '서울'): '종로구'}

문자열, 정수, 실수, 블린(True, False), tuple  ==> key 가능하기 때문에 error 없이 잘 출력됨

In [11]:
e['백']

100

In [12]:
e[3.5]

[3.6, 3.7]

In [13]:
e[False]

0

In [14]:
e[(0,'서울')]

'종로구'

# 딕셔너리 value 의 자료형
* value는 모든 자료형이 올 수 있다.

In [15]:
f = {'정수' : 100, '실수' : 13.5, '문자열':'딕셔너리의 값', '리스트':[1,2,3,4], '튜플':(1,2,3,4), '딕셔너리': {'key' : 'value'}, '블린':True}

In [16]:
f

{'정수': 100,
 '실수': 13.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [17]:
f['정수']

100

In [18]:
f['리스트']

[1, 2, 3, 4]

In [22]:
f['리스트'][2]
#  리스트는 인덱스를 뒤에 적어 꺼내주면 됨

3

In [20]:
f['딕셔너리']

{'key': 'value'}

In [23]:
f['딕셔너리']['key']
#  딕셔너리는 key 를 뒤에 적어 꺼내주면 됨

'value'

## 빈 딕셔너리 만들기
* {}
* dict()

In [24]:
g = {}
g

{}

In [26]:
h = dict()
h

{}

## 딕셔너리에 자료 추가하기
* 빈 딕셔너리에 자료 추가해서 넣기 
* 변수[ 'key' ] = value

In [27]:
g

{}

In [28]:
g['번호'] = 0
g

{'번호': 0}

In [29]:
g['이름'] = '손흥민'
g

{'번호': 0, '이름': '손흥민'}

## 딕셔너리에 value 수정하기
* g[ 'key' ] = 새 value 
* 새로 할당해서 넣는 것임

In [31]:
g['번호'] = 7
g

{'번호': 7, '이름': '손흥민'}

* 리스트 : [ _ ]
* 튜플 : ( _ )
* 딕셔너리 : { _ }

## dict()로 딕셔너리 만들기 --> 대부분 1, 3번 많이 사용함!
### 1) dict(key1 = value1 , key2 = 'value2')
* key에 ''. ""를 사용하지 않는다.
* key는 모두 문자로 변환된다.
* value가 문자형 자료라면 반드시 ""," 가 필요하다.

In [32]:
d = dict(정수 = 100, 실수 = 13.5, 문자 = '문자열', 리스트 = [1,2,3], 튜플 = (4,5,6,), 딕셔너리는 = {'key':'value'})

In [33]:
d

{'정수': 100,
 '실수': 13.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리는': {'key': 'value'}}

### 2) dict([(key, value1), (key2,value2)]) 형식으로 만들기
* 리스트 안에 튜플을 나열해서 만듦
* 많이 사용하진 않음

In [34]:
d2 = dict([('key1', 100), ('실수',3.14), ('리스트', [1,2,3,])])
d2

{'key1': 100, '실수': 3.14, '리스트': [1, 2, 3]}

### 3) dict(zip([key1, key2, key3], [value1, value2, value3])) 형식으로 만들기
* key 묶음 리스트와 value 묶음 리스트를 zip 함수로 합친 후 dict로 만듦
* key 묶음과 value 묶음은 요소의 개수가 같아야 한다. 
* 많이 사용하는 방식

In [35]:
d3 = dict(zip(['문자열', '리스트', '튜플', '딕셔너리', '블린'], ['가나다라', [1,2,3,4], (5,6,7,8,), {'key':'value'}, True ]))

In [36]:
d3

{'문자열': '가나다라',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

*** 일대일 매칭이 잘 되도록 넣기 !

## 딕셔너리에서 값 삭제하기

In [38]:
d3

{'문자열': '가나다라',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [40]:
d3['문자열']= '없는 값'

In [41]:
d3

{'문자열': '없는 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [45]:
del d3['문자열']

KeyError: '문자열'

In [46]:
d3

{'리스트': [1, 2, 3, 4], '튜플': (5, 6, 7, 8), '딕셔너리': {'key': 'value'}, '블린': True}

In [47]:
d3['리스트'][1]

2

In [48]:
del d3['리스트'][1]

In [49]:
d3

{'리스트': [1, 3, 4], '튜플': (5, 6, 7, 8), '딕셔너리': {'key': 'value'}, '블린': True}

In [50]:
d3['리스트'].pop()

4

In [51]:
d3

{'리스트': [1, 3], '튜플': (5, 6, 7, 8), '딕셔너리': {'key': 'value'}, '블린': True}

In [52]:
d3['리스트'].insert(1, 2)
d3

{'리스트': [1, 2, 3], '튜플': (5, 6, 7, 8), '딕셔너리': {'key': 'value'}, '블린': True}

## 딕셔너리 안에 특정 key가 있는지 확인하기
* in, not in 연산자 사용

In [53]:
'리스트' in d3

True

In [54]:
'리스트들' not in d3

True

## len : 길이함수
## len()으로 key 개수 구하기

In [62]:
len(d3)

6

## 딕셔너리 함수 사용하기
### 1) setdefault(key, value) 
* 딕셔너리에 key와 value 를 추가 
* key만 지정하면 value는 'None'으로 입력됨

In [55]:
d3

{'리스트': [1, 2, 3], '튜플': (5, 6, 7, 8), '딕셔너리': {'key': 'value'}, '블린': True}

In [56]:
d3.setdefault('d')
d3

{'리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None}

In [57]:
d3.setdefault('e', 123)
d3

{'리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123}

In [61]:
d4 = {'리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123,
 '리스트':'리스트지'}

d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123}

* 앞에있던 중복된 '리스트'는 사라짐
* 딕셔너리 안에서는 key가 중복되면, 뒤에 들어오는 얘가 앞에 것을 덮어버림
* 딕셔너리는 key 값 중복 불가 !!!!!!
* d4['블린'] = 'False'  이렇게 새롭게 할당하는 것과 같은 느낌 (업데이트됨)

In [63]:
d4['블린'] = 'False'
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 123}

## setdefault 는 기존에 key 가 있는 경우, value를 업데이트 하지 않음

In [64]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 123}

In [66]:
d4.setdefault('e', 456)
d4
# key 'e'를 456으로 바꾸려고 하나, 이미 기존에 ' e'가 있기 때문에 업데이트 안됨!

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 123}

### 2) update(key =  value) 
* key는 문자형 key라도 ", "" 를 사용하지 x
* key를 문자형이 아니라 정수, 실수, 튜플로 넣을 경우에는 {key : value} 형식으로 넣는다.

In [67]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 123}

In [68]:
d4.update(e = 45678)
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678}

In [69]:
d4.update({13 : '십삼'})
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼'}

In [70]:
d4.update({(0, '도시'): '서울시'})
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시'}

In [71]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시'}

In [72]:
d4.update([['a', '십'],['b', '이십'],['c', '삼십']])
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

## 딕셔너리에서 value 가져오는 함수 .get()
* .get(key, key가 없을 때 기본 값)

In [73]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

In [77]:
d4.get('f', '없음')
# 'f' 가 없을 경우 '없음' 으로 출력됨!

'없음'

## 딕셔너리에서 key와 value, key, value 를 가져오는 함수 : 매우중요!
* items() : dict_items([(key, value),(key, value),(key, value)])
* keys() : dict_keys([key1, key2, key3])
* values() : dict_values([value1, value2, value3])

# 1) items()

In [79]:
d4.items()
# 튜플 --> 리스트

dict_items([('리스트', '리스트지'), ('튜플', (5, 6, 7, 8)), ('딕셔너리', {'key': 'value'}), ('블린', 'False'), ('d', None), ('e', 45678), (13, '십삼'), ((0, '도시'), '서울시'), ('a', '십'), ('b', '이십'), ('c', '삼십')])

In [88]:
print(type(d4.items()))
# 데이터타입 : dict_items

<class 'dict_items'>

In [83]:
d4_items = d4.items()

In [84]:
print(d4_items)

dict_items([('리스트', '리스트지'), ('튜플', (5, 6, 7, 8)), ('딕셔너리', {'key': 'value'}), ('블린', 'False'), ('d', None), ('e', 45678), (13, '십삼'), ((0, '도시'), '서울시'), ('a', '십'), ('b', '이십'), ('c', '삼십')])

In [87]:
for i in d4_items:
    print(i)

('리스트', '리스트지')
('튜플', (5, 6, 7, 8))
('딕셔너리', {'key': 'value'})
('블린', 'False')
('d', None)
('e', 45678)
(13, '십삼')
((0, '도시'), '서울시')
('a', '십')
('b', '이십')
('c', '삼십')

## d4_items_list = list(d4_items)      
### dict_items  --> list    로 형변환하기

In [93]:
d4_items_list = list(d4_items)
# list 로 형변환 시키기
d4_items_list

[('리스트', '리스트지'),
 ('튜플', (5, 6, 7, 8)),
 ('딕셔너리', {'key': 'value'}),
 ('블린', 'False'),
 ('d', None),
 ('e', 45678),
 (13, '십삼'),
 ((0, '도시'), '서울시'),
 ('a', '십'),
 ('b', '이십'),
 ('c', '삼십')]

In [94]:
print(type(d4_items_list))

<class 'list'>

In [95]:
d4_items_list[:5]

[('리스트', '리스트지'),
 ('튜플', (5, 6, 7, 8)),
 ('딕셔너리', {'key': 'value'}),
 ('블린', 'False'),
 ('d', None)]

# 파이썬은 마음대로 데이터타입이 변하기 때문에 
# 항상 데이터 형 확인하는게 중요

In [96]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

In [97]:
#  반복문에 집어넣으면 key만 출력됨
for i in d4:  
    print(i)

리스트
튜플
딕셔너리
블린
d
e
13
(0, '도시')
a
b
c

# 2) keys()  : key만 출력

In [98]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

In [100]:
d4.keys()

dict_keys(['리스트', '튜플', '딕셔너리', '블린', 'd', 'e', 13, (0, '도시'), 'a', 'b', 'c'])

In [101]:
print(type(d4.keys()))

<class 'dict_keys'>

In [102]:
d4_keys = list(d4.keys())
d4_keys

['리스트', '튜플', '딕셔너리', '블린', 'd', 'e', 13, (0, '도시'), 'a', 'b', 'c']

In [103]:
d4_keys[1]

'튜플'

# 3) values()  : value만 출력

In [104]:
d4

{'리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': 'False',
 'd': None,
 'e': 45678,
 13: '십삼',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

In [105]:
d4.values()

dict_values(['리스트지', (5, 6, 7, 8), {'key': 'value'}, 'False', None, 45678, '십삼', '서울시', '십', '이십', '삼십'])

In [107]:
print(type(d4.values()))

<class 'dict_values'>

In [109]:
d4_values = list(d4.values())
d4_values

['리스트지',
 (5, 6, 7, 8),
 {'key': 'value'},
 'False',
 None,
 45678,
 '십삼',
 '서울시',
 '십',
 '이십',
 '삼십']

In [110]:
d4_values[2]

{'key': 'value'}

In [111]:
d4_values[0]

'리스트지'