# 1. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 calculation 함수를 작성하라.



```
calculation(3, 4)
```



```
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [1]:
def calculation(a,b):
    return a + b

In [2]:
calculation(3,4)

7

In [41]:
def calculation(a,b):
    sum = a + b
    sub = a - b
    mul = a * b
    div = a / b
    return sum, sub, mul, div

In [42]:
calculation(3, 4)

(7, -1, 12, 0.75)

In [45]:
# f-string으로도 할 수 있다. 

print(f"{a} + {b} = {a + b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} / {b} = {a / b}")

NameError: name 'a' is not defined

# 2. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.



```
print_reverse("Hello, World!")
```

```
!dlroW ,olleH
```

In [ ]:
.reversed()

In [15]:
def print_reverse():
    desc = [ i for i in range(a, b, c)][::-1]
    return desc

# 3. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.



```
print_even ([1, 3, 2, 10, 12, 11, 15])
```



```
2
10
12
```

In [18]:
L = [1, 3, 2, 10, 12, 11, 15]
L

[1, 3, 2, 10, 12, 11, 15]

1. 먼저 하나 리스트 입력받는다.
2. 짝수만 출력한다.
3. 함수를 씌운다.

In [48]:
def print_even(L):
    for i in L:
        if i % 2 == 0:
            print(i)
            return

In [27]:
print_even(

NameError: name 'num' is not defined

# 4. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.



```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```



```
이름
나이
성별
```

In [30]:


def print_keys(*args):
    for key in 
    args.keys()
    print(args)

In [32]:
print_keys(*{"이름":"김말똥", "나이":30, "성별":0})

AttributeError: 'tuple' object has no attribute 'keys'

# 5. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.



```
make_url("naver")
```



```
www.naver.com
```

# 6. 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.



```
pickup_even([3, 4, 5, 6, 7, 8])
```



```
[4, 6, 8]
```

In [ ]:
num = [3, 4, 5, 6, 7, 8]


for num in num2:
    if num % 2 == 0 :
        print()

# 7. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.



```
convert_int("1,234,567")
```



```
1234567
```