# 파이썬은 변수에 담는 자료에 따라서 동적으로 자료형 정해짐

## 정수형 변수(int, integer)

In [1]:
x = 10

In [2]:
type(x)

int

## 실수형 변수(float)

In [3]:
y = 3.14

In [4]:
type(y)

float

## 문자형 변수(str)

In [5]:
s ='문'

In [6]:
type(s)

str

In [7]:
s2= "문자열"

In [8]:
type(s2)

str

In [9]:
s3 = "문자열 '문자'"
s3

"문자열 '문자'"

In [10]:
s4 = '문자열 "문자"'
print(s4)

문자열 "문자"

## 문단을 통채로 넣는 법 ''' ''', """ """

In [11]:
s5 = '''문자형 변수에는 단어 뿐만 아니라
  문장도 넣을 수 있다.
줄 바꿈도 가능'''
print(s5)

문자형 변수에는 단어 뿐만 아니라
  문장도 넣을 수 있다.
줄 바꿈도 가능

In [12]:
s6 ="문자형 변수에는 단어 뿐만 아니라 \
문장도 넣을 수 있다. \
줄 바꿈도 가능"
print(s6)

문자형 변수에는 단어 뿐만 아니라 문장도 넣을 수 있다. 줄 바꿈도 가능

In [13]:
s6 = """문자형 변수에는 단어 뿐만 아니라
  '문장도 넣을 수 있다.'
줄 바꿈도 가능"""
print(s6)

문자형 변수에는 단어 뿐만 아니라
  '문장도 넣을 수 있다.'
줄 바꿈도 가능

In [14]:
s6

"문자형 변수에는 단어 뿐만 아니라\n  '문장도 넣을 수 있다.'\n줄 바꿈도 가능"

In [ ]:
print()

## 변수의 데이터 타입을 출력하는 함수 type()

In [15]:
print(x)
type(x)

10

int

In [16]:
print(y)
print(type(y))

3.14
<class 'float'>

In [17]:
print(s)
print(type(s))

문
<class 'str'>

In [18]:
print(s2)
print(type(s2))

문자열
<class 'str'>

In [19]:
print(s6)
print(type(s6))

문자형 변수에는 단어 뿐만 아니라
  '문장도 넣을 수 있다.'
줄 바꿈도 가능
<class 'str'>

## 리스트(list), 튜플(tuple)
* 순서가 있는 자료형
* 여러 개의 자료를 넣을 수 있다.
* 여러 개의 데이터 타입의 자료를 넣을 수 있다.
* 인덱스로 호출이 가능
* 슬라이싱으로 부분 출력이 가능
* 리스트는 [ ] 안에 자료를 넣어 만듬
* 튜플은 ( ) 안에 자료를 넣어 만듬

In [20]:
a = 10

In [21]:
a

10

In [22]:
a = 20

In [23]:
a

20

In [25]:
L = [1, 3.14, "파이썬", [1,2,3,4], (5,6,7,8)]
L

[1, 3.14, '파이썬', [1, 2, 3, 4], (5, 6, 7, 8)]

In [26]:
type(L)

list

## 인덱싱: 리스트, 튜플에서 인덱스 번호를 이용해서 자료를 출력
* 인덱스는 자료의 순번

In [29]:
L[3]

[1, 2, 3, 4]

In [30]:
L[3][2]

3

In [31]:
L[4][3]

8

In [32]:
L.index("파이썬")

2

## 슬라이싱: 인덱스의 범위 지정해서 여러개의 자료를 가져오는 것
* 변수명[시작인덱스:끝 인덱스+1:step]

In [33]:
L[0:2]

[1, 3.14]

In [42]:
L[::-1]

[(5, 6, 7, 8), [1, 2, 3, 4], '파이썬', 3.14, 1]

## 튜플
* 리스트처럼 순서가 있는 자료형
* 인덱스가 있어서 인덱스로 자료 출력 가능
* 인덱스로 슬라이싱도 가능
* 자료의 추가 삭제가 안됨

In [34]:
L.append(3) 
L

[1, 3.14, '파이썬', [1, 2, 3, 4], (5, 6, 7, 8), 3]

In [35]:
del L[5]

In [36]:
L

[1, 3.14, '파이썬', [1, 2, 3, 4], (5, 6, 7, 8)]

In [37]:
T = (1,2,'튜플', [3,4,5], (5,6,7))
T

(1, 2, '튜플', [3, 4, 5], (5, 6, 7))

In [38]:
T[3]

[3, 4, 5]

In [39]:
T[4][2]

7

In [40]:
T[2:4]

('튜플', [3, 4, 5])

In [41]:
T.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
del T[3]

TypeError: 'tuple' object doesn't support item deletion

## 딕셔너리형(dict) JSON
* {key:value} 형태의 자료형
* 순서가 없는 자료형
* 반복 불가
* key를 호출하면 value가 출력

In [43]:
D = {'년월' : '202407', '국가' : '미국', '방문자수' : 1000}
D

{'년월': '202407', '국가': '미국', '방문자수': 1000}

In [45]:
D2 = {2 : [3,4,5], 3.14: "원주율"}
D2

{2: [3, 4, 5], 3.14: '원주율'}

In [46]:
D['년월']

'202407'

In [47]:
D2[2]

[3, 4, 5]

In [48]:
D2[3.14]

'원주율'

In [49]:
d3 = {(1,2) : "키가 튜플"}
d3

{(1, 2): '키가 튜플'}

In [50]:
d3[(1,2)]

'키가 튜플'

In [51]:
# 리스트는 딕셔너리의 key가 될 수 없음 tuple은 가능
d4 = {[3,4] : "키가 튜플"}
d4

TypeError: unhashable type: 'list'