# 3. 연산자의 종류와 활용

## 1) 연산자의 종류
* 산술연산자: +,-,*,/,%,//,**
* 할당연산자: =, +=, -=, *=, /=,%=
* 비교연산자: ==, !=, >, <, >=, <=
* 논리연산자: and, or, not
* 식별연산자: is, is not
* 멤버연산자: in, not in

* 산술연산자: +,-,\*,/,%,//,\**

In [1]:
1 + 1

2

In [2]:
5 - 3

2

In [3]:
9 * 9

81

In [4]:
598 / 3

199.33333333333334

In [6]:
# 정수 / 정수 = 실수
4 / 2

2.0

In [7]:
a = 4
b = 2
c = a / b
print(type(a), a)
print(type(b), b)
print(type(c), c)

<class 'int'> 4
<class 'int'> 2
<class 'float'> 2.0

In [8]:
4 % 2

0

In [9]:
5 % 2

1

In [10]:
6 // 2

3

In [11]:
5 // 2

2

In [12]:
3 ** 2

9

* 괄호를 사용해서 연산 우선순위 지정하기

In [13]:
3 + 4 * 5

23

In [14]:
(3 + 4) * 5

35

## 3의 4제곱에서 100을 뺀 값의 3제곱을 5로 나눈 몫에 1을 더한 값을 구하시오.

In [15]:
((((3 ** 4) - 100) ** 3) // 5) + 1

-1371

초를 입력하면 ‘몇 분 몇 초’로 환산해주는 코드를 다음과 같이 출력하도록 작성하세요.
* input("초를 입력하세요: ")

초를 입력하세요:1234<br>
1234 초(sec)는 20 분(min) 34 초(sec)입니다

* int(): 데이터 타입을 int로 형변환
* float(): 데이터 타입을 float으로 형변환
* str(): 데이터 타입을 str로 형변환
* list(): 데이터 타입을 list로 형변환
* tuple(): 데이터 타입을 tuple로 형변환
* dict(): 데이터 타입을 dict로 형변환

In [25]:
sec = int(input("초를 입력하세요: "))
print(sec, type(sec))
minute = sec // 60
sec2 = sec % 60
print(sec, "초(sec)는", minute, "분(minute)", sec2, "초(sec2)입니다.")

초를 입력하세요: 1234
1234 <class 'int'>
1234 초(sec)는 20 분(minute) 34 초(sec2)입니다.

* 할당연산자: =, +=, -=, *=, /=,%=

= 오른쪽의 자료를 왼쪽 변수에 할당

In [26]:
a = 2
a

2

* += 왼쪽 변수 값에 오른쪽 값을 더해서 왼쪽 변수에 할당

In [27]:
# a = a + 1 
a += 1
a

3

In [28]:
# a = a - 1
a -= 1
a

2

In [30]:
# a = a * 2
a *= 2
a

8

In [31]:
# a = a / 2
a /= 2
a

4.0

In [32]:
a %= 2
a

0.0

In [33]:
a += 4
a //=2
a

2.0

* 비교연산자 ==, !=, >, <, >=, <=

In [34]:
a = 3
b = 3.0
c = 5
d = "Python"
e = "python"
f = True
g = False

== 같으면 True, 다르면 False

In [35]:
a == b

True

In [36]:
a == c

False

In [37]:
d == e

False

In [38]:
f == g

False

!= 다르면 True, 같으면 False

In [39]:
a != b

False

In [40]:
a != c

True

In [41]:
d != e

True

In [42]:
f != g

True

a > b:  a가 b를 초과하냐? <br>
a < b:  a가 b 미만이냐?<br>
a >= b: a가 b 이상이냐?<br>
a <= b: a가 b 이하냐

In [43]:
print(a)
print(b)
a > b

3
3.0

False

In [44]:
print(a)
print(b)
a < b

3
3.0

False

In [45]:
print(a)
print(b)
a >= b

3
3.0

True

In [46]:
print(a)
print(b)
a <= b

3
3.0

True

논리연산자: and, or, not

and는 두 값 모두가 참이어야 참

In [47]:
True and True

True

In [48]:
True and False

False

In [49]:
False and True

False

In [50]:
False and False

False

or 두 값중 하나라도 참이면 참, 두 값 모두가 거짓이어야 거짓

In [51]:
True or True

True

In [52]:
True or False

True

In [54]:
False or True

True

In [56]:
False or False

False

not 값을 반대로 뒤집음. True = False, Flase = True

In [57]:
not True

False

In [58]:
not False

True

and, or, not 논리연산자가 식 하나에 들어있으면<br>
not, and, or 순으로 판단

In [59]:
not True and Flase or not False

True

위의 값이 True가 나오는 이유

In [60]:
not True and False

False

In [61]:
False or not False

True

In [63]:
10 == 10 and 10 != 5 # True and True

True

In [64]:
10 > 5 or 10 < 3 # True or False

True

식별연산자: is, is not 객체(object, datatype)가 같은지 비교<br>
a is b: a객체와 b객체가 같은지 비교 같으면 True, 다르면 False<br>
javascript의 === 연산자와 동일

In [66]:
print(a)
print(b)
print(c)

3
3.0
5

In [73]:
print(a == b) # a는 정수 3, b는 실수 3.0 이라 값이 같음
print(a is b) # a는 정수 3, b는 실수 3.0 이라 값은 같지만 데이터 타입이 달라서 False

True
False

In [68]:
d = 3

In [72]:
print(a)
print(d)
print(a == d) # a는 정수 3, b도 정수 3 이라 값이 같음
print(a is d) # a는 정수 3, b도 정수 3 이라 값도 같고 데이터 타입도 같아서 True

3
3
True
True

In [74]:
print(a == b) # a는 정수 3, b는 실수 3.0 이라 값이 같음
print(a is not b) # a는 정수 3, b는 실수 3.0 이라 값은 같지만 데이터 타입이 달라서 True

True
True

멤버연산자: in, not in <br>
리스트, 튜플 같은 객체 내에 해당 값이 있으면 True, 없으면 False

In [75]:
member = [1,2,3,4,5]

In [76]:
3 in member

True

In [77]:
3 not in member

False