# 딕셔너리 dict 사용하기
* 딕셔너리형(dictionary) 변수 JSON형이라고도 함.
* 웹상에서 가장 많이 사용되는 자료형
* 딕셔너리를 잘 이해하면 pandas 도 쉽게 이해 가능
* key : value로 이루어진 자료형
* key를 호출하면 value가 나온다.

## 딕셔너리 만들기: {key : value, key : value}

In [1]:
d = {'년월' : '20240710', '국가' : '미국', '방문자수' : 1000}
d

{'년월': '20240710', '국가': '미국', '방문자수': 1000}

In [2]:
d['년월']

'20240710'

In [3]:
d['방문자수']

1000

## 딕셔너리 key의 자료형
* 문자열, 정수, 실수, 블린(True, False), tuple
* list, dict 는 key가 될 수 없다.

In [4]:
e = {'백': 100, 100 : '백', 3.5 : [3.6, 3.7], False : 0, (0, '서울') : "종로구" }
e

{'백': 100, 100: '백', 3.5: [3.6, 3.7], False: 0, (0, '서울'): '종로구'}

In [5]:
e['백']

100

In [6]:
e[100]

'백'

In [7]:
e[3.5]

[3.6, 3.7]

In [8]:
e[False]

0

In [9]:
e[(0, '서울')]

'종로구'

## 딕셔너리 value의 자료형
* value는 모든 자료형이 올 수 있다.

In [10]:
f = {'정수': 100, '실수': 13.5, '문자열': '딕셔너리의 값', '리스트': [1,2,3,4],
    '튜플': (1,2,3,4), '딕셔너리' : {'key' : 'value'}, '블린' :  True}
f

{'정수': 100,
 '실수': 13.5,
 '문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (1, 2, 3, 4),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [11]:
f['리스트'][2]

3

In [21]:
f['딕셔너리']['key']

'value'

## 빈 딕셔너리 만들기
* {}
* dict()

In [12]:
g = {}
g

{}

In [13]:
h = dict()
h

{}

## 딕셔너리에 자료 추가하기
* 변수['key'] = value

In [14]:
g['번호'] = 0
g

{'번호': 0}

In [15]:
g['이름'] = '홍길동'

In [16]:
g

{'번호': 0, '이름': '홍길동'}

## 딕셔너리의 value 수정하기
* g['key'] = 새 value

In [17]:
g['번호'] = 2
g

{'번호': 2, '이름': '홍길동'}

In [18]:
g['이름'] = '김삼순'
g

{'번호': 2, '이름': '김삼순'}

## dict()로 딕셔너리 만들기

### 1) dict(key1 = value1, key2 = 'value2')
* key에 '', ""를 사용하지 않는다.
* key는 모두 문자로 변환된다.
* value가 문자형 자료라면 반드시 "",''가 필요하다.

In [19]:
d = dict(정수=100, 실수=13.5, 문자='문자열', 리스트 = [1,2,3], 튜플 = (4,5,6), 딕셔너리는 = {'key':'value'})
d

{'정수': 100,
 '실수': 13.5,
 '문자': '문자열',
 '리스트': [1, 2, 3],
 '튜플': (4, 5, 6),
 '딕셔너리는': {'key': 'value'}}

### 2) dict([(key1, value1), (key2, value2)]) 형식으로 만들기
* 리스트 안에 튜플을 나열해 만듬

In [21]:
d2 = dict([('key1', 100), ('실수', 3.14), ('리스트',[1,2,3]),(3.14, 100)])
d2

{'key1': 100, '실수': 3.14, '리스트': [1, 2, 3], 3.14: 100}

In [22]:
d2[3.14]

100

### 3) dict(zip([key1, key2], [value1, value2])) 형식으로 만들기
* key 묶음 리스트와 value 묶음 리스트를 zip함수로 합친 후 dict로 만듬
* key 묶음과 value 묶음은 요소의 개수가 같아야 함

In [32]:
d3 =  dict(zip(['문자열','리스트','튜플','딕셔너리','블린'],
           ['딕셔너리의 값',[1,2,3,4], (5,6,7,8), {'key': 'value'}, True]))
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

문자열 딕셔너리의 값
리스트 [1, 2, 3, 4]
튜플 (5, 6, 7, 8)
딕셔너리 {'key': 'value'}
블린 True

### 딕셔너리에서 값 삭제하기

In [33]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [34]:
d3['믄자열'] = '오타가 난 키값'

In [35]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 '믄자열': '오타가 난 키값'}

del 변수명['key'] key와 value가 동시 삭제

In [36]:
del d3['믄자열']
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3, 4],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [38]:
d3['리스트'][1]

2

In [39]:
del d3['리스트'][1]

In [40]:
d3['리스트']

[1, 3, 4]

In [41]:
d3['리스트'].pop()

4

In [42]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [43]:
d3['리스트'].insert(1,2)

In [44]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

### 딕셔너리 안에 특정 key가 있는지 확인하기 
* in, not in 연산자 사용

In [50]:
'리스트' in d3

True

In [51]:
'이름' not in d3

True

### len() 로 딕셔너리 key 개수 구하기

In [52]:
len(d3)

5

## 딕셔너리 함수 사용하기

### 1) setdefault(key, value)
* 딕셔너리에 key와 value를 추가
* key만 지정하면 value는 'None'으로 입력 됨
* key가 중복되면 나중에 추가하는 값을 무시함

In [50]:
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True}

In [51]:
d3.setdefault('d')
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None}

In [52]:
d3.setdefault('e', 123)
d3

{'문자열': '딕셔너리의 값',
 '리스트': [1, 2, 3],
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123}

* 딕셔너리는 key를 중복할 수 없다.
* 만약 key가 중복되면 나중에 할당한 값으로 변한다.

In [46]:
a = 1

In [47]:
a

1

In [48]:
a = 10

In [49]:
a

10

In [53]:
d4 ={'문자열': '딕셔너리의 값', '리스트': [1, 2, 3], '튜플': (5, 6, 7, 8), 
 '딕셔너리': {'key': 'value'}, '블린': True,  'd': None, 'e': 123,
    '리스트': '리스트지'}
d4

{'문자열': '딕셔너리의 값',
 '리스트': '리스트지',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123}

In [54]:
d4['리스트'] = '새로운 값'

In [55]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123}

* setdefault는 기존에 key가 있는 경우 value를 업데이트 하지 않음.

In [56]:
d4.setdefault('e', 'eeee')
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 123}

### 2) update(key=value) 
* key는 문자형 key라도 '',""를 사용하지 X
* key를 문자형이 아니라 정수, 실수, 튜플로 넣을 경우에는 {key:value} 형식으로 넣는다.

In [57]:
d4.update(e='eee')
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 'eee'}

In [58]:
d4.update({13 : '십삼'})
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 'eee',
 13: '십삼'}

In [59]:
d4.update({13 : '십삼2'})
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 'eee',
 13: '십삼2'}

In [60]:
d4.update({(0,'도시') : '서울시'})
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 'eee',
 13: '십삼2',
 (0, '도시'): '서울시'}

In [61]:
d4.update([['a', '십'], ['b', '이십'], ['c', '삼십']])
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': None,
 'e': 'eee',
 13: '십삼2',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

In [62]:
d4.update((('d', '사십'), ('e', '오십'), ('f', '육십')))
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': '사십',
 'e': '오십',
 13: '십삼2',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십',
 'f': '육십'}

In [63]:
del d4['f']

In [64]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': '사십',
 'e': '오십',
 13: '십삼2',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십',
 'c': '삼십'}

* pop('key')로 삭제하기

In [65]:
d4.pop('c')

'삼십'

In [66]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': '사십',
 'e': '오십',
 13: '십삼2',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십'}

In [69]:
del d4['c']

KeyError: 'c'

In [70]:
d4.pop('c',0)

0

### 딕셔너리에서 value 가져오는 함수 .get()
* .get(key, key가 없을 때 기본 값)

In [71]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': '사십',
 'e': '오십',
 13: '십삼2',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십'}

In [72]:
d4['f']

KeyError: 'f'

In [73]:
a = d4.get('f', '없음')
print('a:' , a)

a: 없음

### 딕셔너리에서 key와 value, key, value를 가져오는 함수
* items(): dict_items([(key, value),(key, value),(key, value)])
* keys(): dict_keys([key1, key2,key3])
* values(): dict_values([value1, value2, value3])

* items()

In [74]:
d4

{'문자열': '딕셔너리의 값',
 '리스트': '새로운 값',
 '튜플': (5, 6, 7, 8),
 '딕셔너리': {'key': 'value'},
 '블린': True,
 'd': '사십',
 'e': '오십',
 13: '십삼2',
 (0, '도시'): '서울시',
 'a': '십',
 'b': '이십'}

In [77]:
d4_items = d4.items()

In [78]:
print(type(d4_items))

<class 'dict_items'>

In [79]:
print(d4_items)

dict_items([('문자열', '딕셔너리의 값'), ('리스트', '새로운 값'), ('튜플', (5, 6, 7, 8)), ('딕셔너리', {'key': 'value'}), ('블린', True), ('d', '사십'), ('e', '오십'), (13, '십삼2'), ((0, '도시'), '서울시'), ('a', '십'), ('b', '이십')])

In [92]:
map(float, [1,2,3])

In [91]:
for i in map(float, [1,2,3]):
    print(i, type(i))

1.0 <class 'float'>
2.0 <class 'float'>
3.0 <class 'float'>

In [93]:
d4_items[0]

TypeError: 'dict_items' object is not subscriptable

In [94]:
d4_items_list = list(d4_items)
print(d4_items_list)
print(type(d4_items_list))

[('문자열', '딕셔너리의 값'), ('리스트', '새로운 값'), ('튜플', (5, 6, 7, 8)), ('딕셔너리', {'key': 'value'}), ('블린', True), ('d', '사십'), ('e', '오십'), (13, '십삼2'), ((0, '도시'), '서울시'), ('a', '십'), ('b', '이십')]
<class 'list'>

In [95]:
d4_items_list[0][1]

'딕셔너리의 값'

In [97]:
d4_items_list[:5]

[('문자열', '딕셔너리의 값'),
 ('리스트', '새로운 값'),
 ('튜플', (5, 6, 7, 8)),
 ('딕셔너리', {'key': 'value'}),
 ('블린', True)]

In [98]:
a, b = ('문자열', '딕셔너리의 값')
print(a)
print(b)

문자열
딕셔너리의 값

In [117]:
for key, value in d4.items():
    print(key, value)

문자열 딕셔너리의 값
리스트 새로운 값
튜플 (5, 6, 7, 8)
딕셔너리 {'key': 'value'}
블린 True
d 사십
e 오십
13 십삼
(0, '도시') 서울시
a 십
b 이십

In [108]:
for i in d4_items:
    print(i)

('문자열', '딕셔너리의 값')
('리스트', '새로운 값')
('튜플', (5, 6, 7, 8))
('딕셔너리', {'key': 'value'})
('블린', True)
('d', '사십')
('e', '오십')
(13, '십삼')
((0, '도시'), '서울시')
('a', '십')
('b', '이십')

* keys(): key만 출력

In [99]:
d4.keys()

dict_keys(['문자열', '리스트', '튜플', '딕셔너리', '블린', 'd', 'e', 13, (0, '도시'), 'a', 'b'])

In [100]:
print(type(d4.keys()))

<class 'dict_keys'>

In [101]:
d4_keys = list(d4.keys())
d4_keys

['문자열', '리스트', '튜플', '딕셔너리', '블린', 'd', 'e', 13, (0, '도시'), 'a', 'b']

In [102]:
d4_keys[0]

'문자열'

* values: values만 가져옴

In [123]:
d4.values()

dict_values(['딕셔너리의 값', '새로운 값', (5, 6, 7, 8), {'key': 'value'}, True, '사십', '오십', '십삼', '서울시', '십', '이십'])

In [125]:
print(type(d4.values()))

<class 'dict_values'>

In [127]:
d4_tuple = tuple(d4.values())
d4_tuple

('딕셔너리의 값',
 '새로운 값',
 (5, 6, 7, 8),
 {'key': 'value'},
 True,
 '사십',
 '오십',
 '십삼',
 '서울시',
 '십',
 '이십')

In [129]:
d4_tuple[:4]

('딕셔너리의 값', '새로운 값', (5, 6, 7, 8), {'key': 'value'})